@model IEnumerable<Mahamesh.Models.FeedbackModel>

@{
    ViewBag.Title = "Index";
}


<div class="container body-content" id="#maincontent" style="margin-top:70px; margin-bottom: 150px;">
    <div class="panel panel-success" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-success" style="border-color:transparent;text-align:center;font-weight:800">
            <h3 class="panel-title">Feedbacks</h3>
        </div>
        <div style="float:right;padding:10px">
            <a class="btn btn-info" href="@Url.Action("Create")">Add New Feedback</a>
        </div>
        <div class="panel-body">
       
            <div class="row">
                <table class="table table-bordered table-responsive table-striped">
                    <tr class="text-center">
                        <th>
                            @Html.DisplayNameFor(model => model.FeedbackTitle)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.FeedbackDescription)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.FeedbackDate)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpdatedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UpdatedDate)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FeedbackTitle)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.FeedbackDescription)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.FeedbackDate)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedDate)
                            </td>
                            <td>
                                <div class="btn-group btn-group-xs mr-2" role="group">
                                    <button type="button" class="btn btn-xs btn-primary-2" style="border:1px solid #808080">
                                        <a href="@Url.Action("Edit", new { id = item.FeedbackId })"><i class="fa fa-edit"></i></a>
                                    </button>
                                    <button type="button" class="btn btn-xs btn-primary-2" style="border:1px solid #808080">
                                        <a href="@Url.Action("Details", new { id = item.FeedbackId })"><i class="fa fa-list"></i></a>
                                    </button>
                                    <button type="button" class="btn btn-xs btn-primary-2" style="border:1px solid #808080">
                                        <a href="@Url.Action("Delete", new { id = item.FeedbackId  })"><i class="fa fa-remove"></i></a>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>