@model Mahamesh.Models.ApplicantRegistration

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ApplicantRegistration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VillageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VillageName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tahashil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tahashil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PinCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PinCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HVillage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HVillage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Child2006)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Child2006)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Caste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Caste)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCatse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCatse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdharCardNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdharCardNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicantCrippled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantCrippled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CrippledPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CrippledPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentDaySheep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentDaySheep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfSheepIs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfSheepIs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicantsPermanentInOnePlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantsPermanentInOnePlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicantsMigratedByWayOfTransit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicantsMigratedByWayOfTransit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApplicantOwnedLand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApplicantOwnedLand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YesApplicantOwnedLandEcre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YesApplicantOwnedLandEcre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YesApplicantOwnedLandGuntha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YesApplicantOwnedLandGuntha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsNotIsAtLeastOnePinpointSpace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsNotIsAtLeastOnePinpointSpace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsNotIsAvailableOnLease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsNotIsAvailableOnLease)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YesAvailableOnLeaseEcre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YesAvailableOnLeaseEcre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YesAvailableOnLeaseGuntha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YesAvailableOnLeaseGuntha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GardeningEcre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GardeningEcre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CuminEcre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuminEcre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaterSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaterSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationOfWater)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationOfWater)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastYearFooder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastYearFooder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastYearTotalProductionInKG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastYearTotalProductionInKG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsWarehouseForSheep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsWarehouseForSheep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YesIntekOfSheepInWarehouse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YesIntekOfSheepInWarehouse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeExistingCastle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeExistingCastle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSavingsGroupMember)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSavingsGroupMember)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SavingGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SavingGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SavingGroupRegNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SavingGroupRegNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsanimalHusbandryManufacturingCompanyMember)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsanimalHusbandryManufacturingCompanyMember)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsanimalHusbandryManufacturingCompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsanimalHusbandryManufacturingCompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsanimalHusbandryManufacturingCompanyRegNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsanimalHusbandryManufacturingCompanyRegNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RationCardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RationCardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTrained)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTrained)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdharCardFU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdharCardFU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LivestockDevOffCertificate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LivestockDevOffCertificate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CasteCertificate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CasteCertificate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidentCertificate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidentCertificate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Childcertificate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Childcertificate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FU712Certificate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FU712Certificate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenancyAgreement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenancyAgreement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FU712orIncomeCertificate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FU712orIncomeCertificate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankPassBook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankPassBook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BachatMemberCertificate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BachatMemberCertificate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyMemberCertificate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyMemberCertificate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisabilityCertificate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisabilityCertificate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReshanCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReshanCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HamiPtra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HamiPtra)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
