@model Mahamesh.Models.ApplicantRegistration

@{
    ViewBag.Title = "Details";
}

<div class="container" style="margin-bottom:150px;">
    <div class="headerDashboard">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 headerText">
            <h2>राजे यशवंतराव होळकर महामेष योजना</h2>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:right">
            <img src="~/Images/Raje.jpg" class="img-responsive" alt="Raje Yashwant Holkar" />
        </div>

    </div>
    <div class="panel panel-primary-2" id="printDiv">
        <div class="panel-heading panel-primary-2 text-center"><h5>अर्जदारांनी करावयाच्या अर्ज</h5></div>
        <div class="panel-body">
            <div>
                <div style="float:left">
                    <p style="font-weight:700; color:blue;text-align:left"> @Html.DisplayNameFor(model => model.ApplicationNumber) : @Model.ApplicationNumber</p>
                    <p style="font-weight:700; color:blue;text-align:left"> दिनांक :  @Model.SubmitDatetime.Value.ToLongDateString() वेळ :   @Model.SubmitDatetime.Value.ToLocalTime()  </p>
                </div>
                <div style="float:right"><img src="@Html.DisplayFor(model => model.Photo)" alt="Applicant Photo" height="70" /></div>
            </div>


            <table class="table table-bordered table-striped table-responsive">

                <tr>
                    <td> @Html.DisplayNameFor(model => model.ApName)</td>
                    <td> @Html.DisplayFor(model => model.ApName)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.VillageName)</td>
                    <td> @Html.DisplayFor(model => model.VilName)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Tahashil)</td>
                    <td> @Html.DisplayFor(model => model.TalukaName)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Dist)</td>
                    <td> @Html.DisplayFor(model => model.DistrictName)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.PinCode)</td>
                    <td> @Html.DisplayFor(model => model.PinCode)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.HVillage)</td>
                    <td> @Html.DisplayFor(model => model.HvilName)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.PhNo)</td>
                    <td> @Html.DisplayFor(model => model.PhNo)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.DOB)</td>
                    <td> @Html.DisplayFor(model => model.DOB)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Age)</td>
                    <td> @Html.DisplayFor(model => model.Age)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Gender)</td>
                    <td> @Html.DisplayFor(model => model.Gender)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.ChildCount)</td>
                    <td> @Html.DisplayFor(model => model.ChildCount)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Child2006)</td>
                    <td> @Html.DisplayFor(model => model.Child2006)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.Caste)</td>
                    <td> @Html.DisplayFor(model => model.Caste)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.SubCatse)</td>
                    <td> @Html.DisplayFor(model => model.SubCasteName)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.AdharCardNo)</td>
                    <td> @Html.DisplayFor(model => model.AdharCardNo)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.RationCardNumber)</td>
                    <td> @Html.DisplayFor(model => model.RationCardNumber)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.ApplicantCrippled)</td>
                    <td> @Html.DisplayFor(model => model.ApplicantCrippled)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.CrippledPercentage)</td>
                    <td> @Html.DisplayFor(model => model.CrippledPercentage)</td>
                </tr>

                <tr>
                    <td> @Html.DisplayNameFor(model => model.PresentDaySheep)</td>
                    <td> @Html.DisplayFor(model => model.PresentDaySheep)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.NumberOfSheepIs)</td>
                    <td> @Html.DisplayFor(model => model.NumberOfSheepIs)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.ApplicantsPermanentInOnePlace)</td>
                    <td> @Html.DisplayFor(model => model.ApplicantsPermanentInOnePlace)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.ApplicantsMigratedByWayOfTransit)</td>
                    <td> @Html.DisplayFor(model => model.ApplicantsMigratedByWayOfTransit)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.IsApplicantOwnedLand)</td>
                    <td> @Html.DisplayFor(model => model.IsApplicantOwnedLand)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.YesApplicantOwnedLandEcre)</td>
                    <td> @Html.DisplayFor(model => model.YesApplicantOwnedLandEcre)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.YesApplicantOwnedLandGuntha)</td>
                    <td> @Html.DisplayFor(model => model.YesApplicantOwnedLandGuntha)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.IsNotIsAtLeastOnePinpointSpace)</td>
                    <td> @Html.DisplayFor(model => model.IsNotIsAtLeastOnePinpointSpace)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.IsNotIsAvailableOnLease)</td>
                    <td> @Html.DisplayFor(model => model.IsNotIsAvailableOnLease)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.YesAvailableOnLeaseEcre)</td>
                    <td> @Html.DisplayFor(model => model.YesAvailableOnLeaseEcre)</td>
                </tr>
                <tr>
                    <td> @Html.DisplayNameFor(model => model.YesAvailableOnLeaseGuntha)</td>
                    <td> @Html.DisplayFor(model => model.YesAvailableOnLeaseGuntha)</td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.GardeningEcre)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.GardeningEcre)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.CuminEcre)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.CuminEcre)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.WaterSource)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.WaterSource)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.DurationOfWater)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.DurationOfWater)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.LastYearFooder)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.LastYearFooder)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.LastYearTotalProductionInKG)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.LastYearTotalProductionInKG)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.IsWarehouseForSheep)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.IsWarehouseForSheep)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.YesIntekOfSheepInWarehouse)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.YesIntekOfSheepInWarehouse)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.TypeExistingCastle)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.TypeExistingCastle)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.IsSavingsGroupMember)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.IsSavingsGroupMember)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.SavingGroupName)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.SavingGroupName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.SavingGroupRegNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.SavingGroupRegNumber)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.IsanimalHusbandryManufacturingCompanyMember)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.IsanimalHusbandryManufacturingCompanyMember)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.IsanimalHusbandryManufacturingCompanyName)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.IsanimalHusbandryManufacturingCompanyName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.IsanimalHusbandryManufacturingCompanyRegNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.IsanimalHusbandryManufacturingCompanyRegNumber)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.RationCardNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.RationCardNumber)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.IsTrained)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.IsTrained)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.CompNumber)
                    </td>

                    <td>
                        <table class="table table-bordered">
                            @foreach (var item in Model.CompList)
                            {
                                <tr><td>@item.Item1</td><td>@item.Item2</td></tr>
                            }
                        </table>
                        @*@Html.DisplayFor(model => model.CompNumberList)*@
                    </td>
                </tr>
                @*<tr>
                        <td>
                            @Html.DisplayNameFor(model => model.AdharCardFU)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.AdharCardFU)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.LivestockDevOffCertificate)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.LivestockDevOffCertificate)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.CasteCertificate)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.CasteCertificate)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ResidentCertificate)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.ResidentCertificate)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Childcertificate)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.Childcertificate)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.FU712Certificate)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.FU712Certificate)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.TenancyAgreement)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.TenancyAgreement)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.FU712orIncomeCertificate)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.FU712orIncomeCertificate)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.BankPassBook)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.BankPassBook)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.BachatMemberCertificate)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.BachatMemberCertificate)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.CompanyMemberCertificate)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.CompanyMemberCertificate)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.DisabilityCertificate)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.DisabilityCertificate)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ReshanCard)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.ReshanCard)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.HamiPtra)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.HamiPtra)
                        </td>
                    </tr>*@

            </table>
        </div>
        @if (Model.FormSubmitted == false)
        {<p class="text-center">

                <button class="btn btn-danger"><a style="color:white !important" href="@Url.Action("Edit", "ApplicantRegistrations", new { id = Model.Id , exit = "step"})">Go Back</a></button>
                <button class="btn btn-warning"><a style="color:white !important" href="@Url.Action("Edit", "ApplicantRegistrations", new { id = Model.Id, exit = "home" })">Save and Exit</a></button>
                <button class="btn btn-default" onclick="printDiv('print-content')">Print</button>
                <button class="btn btn-primary"><a style="color:white !important" href="@Url.Action("GenerateReceipt", "ApplicantRegistrations", new { id = Model.Id })">Submit</a></button>

            </p>
        }
    </div>
</div>
<script>
    function printDiv(divName) {
        var printContents = document.getElementById("printDiv").innerHTML;
        w = window.open();
        w.document.write(printContents);
        w.print();
        w.close();
    }
</script>