@model Mahamesh.Models.ApplicantRegistration

@{
    ViewBag.Title = "Receipt";
    Layout = "~/Views/Shared/_LayoutReceipt.cshtml";
}

<div class="container" style="margin-bottom:150px;">
    <div class="heading" style="margin-bottom:40px;background:#808080;height:130px;">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:right">
            <img src="~/Images/logo.jpg"  height="120" width="125" alt="पुण्यश्लोक अहिल्यादेवी महाराष्ट्र मेंढी व शेळी विकास महामंडळ लि. पुणे" />
        </div>

        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 headerText">
            <h2 class="text-center" style="color:white;padding-top:10px">
                पुण्यश्लोक अहिल्यादेवी महाराष्ट्र मेंढी व शेळी विकास महामंडळ लि. पुणे
            </h2>
            <h3 class="text-center" style="color:white">राजे यशवंतराव होळकर महामेष योजना</h3>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:right">
            <img src="~/Images/Raje.jpg"  height="120" width="90" alt="राजे यशवंतराव होळकर" />
        </div>
    </div>
    <div class="panel panel-primary" id="printDiv">
        <div class="panel-heading panel-primary text-center"><h3 class="text-center" style="color:white">पावती</h3></div>
        <div class="panel-body" >
            <table class="table table-bordered table-striped table-responsive">
                <tr>
                    <td>@Html.DisplayNameFor(x => x.ApplicationNumber)</td>
                    <td style="font-weight:800">@Model.ApplicationNumber</td>
                </tr>
                <tr>
                    <td>पशुवैद्यकीय दवाखाना :</td>
                    <td>
                        <table class="table table-bordered" style="box-shadow:none !important;margin-bottom:0 !important">
                            <tr>
                                <td>गावाचे नाव :</td>
                                <td>@Model.VilName</td>
                            </tr>
                            <tr>
                                <td>तालुका:</td>
                                <td>@Model.TalukaName</td>
                            </tr>
                            <tr>
                                <td>जिल्हा:</td>
                                <td>@Model.DistrictName</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>अर्जदाराचे नाव :</td>
                    <td>@Model.ApName</td>
                </tr>
                <tr>
                    <td>अर्जदारचा पत्ता:</td>
                    <td>
                        <table class="table table-bordered" style="box-shadow:none !important;margin-bottom:0 !important">
                            <tr>
                                <td>राहणार:</td>
                                <td>@Model.HvilName</td>
                            </tr>
                            <tr>
                                <td>तालुका:</td>
                                <td>@Model.TalukaName</td>
                            </tr>
                            <tr>
                                <td>जिल्हा:</td>
                                <td>@Model.DistrictName</td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td>अर्जदाराने अर्ज केलेल्या उपघटकाचे नाव:	</td>
                    <td>@Model.CompNumber</td>
                </tr>
                <tr>
                    <td>दिनांक (Server Date):</td>
                    <td>@Model.SubmitDatetime.Value.Date.ToShortDateString()</td>
                </tr>
                <tr>
                    <td>वेळ (Server Time):</td>
                    <td>@Model.SubmitDatetime.Value.ToLocalTime()</td>
                </tr>
                <tr>
                    <td>Submited Machine IP Address:</td>
                    <td>@Model.UserIP</td>
                </tr>
            </table>
        </div>
        <p style="text-align:right">
            * Reciept is Computer generated, signature is not required.

        </p>
    </div>
    <div class="panel-footer text-center"> <button class="btn btn-default"><a href="@Url.Action("Index", "Home")">Home Page</a></button> <button class="btn btn-primary" onclick="printDiv('print-content')">Print</button></div>
</div>
<script>
    function printDiv(divName) {
        var printContents = document.getElementById("printDiv").innerHTML;
        w = window.open();
        w.document.write(printContents);
        w.print();
        w.close();
    }
</script>