@model Mahamesh.Models.MediaGalleryModel

@{
    ViewBag.Title = "Create";
}
<style>
    #mu-footer {
        display: inline;
        float: left;
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        /*padding-top: 30px;*/
    }
</style>
<div class="container body-content" id="#maincontent" style="margin-top:20px; margin-bottom: 150px;">
    <div class="panel panel-primary" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary" style="background:#52b2fa;border-color:transparent;text-align:center;font-weight:800">
            <h3 class="panel-title">Media</h3>
        </div>
        <div class="panel-body">

            <div class="row">
                @using (Html.BeginForm("Create", "Media", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    if (ViewBag.Error != null)
                    {
                        <div class="alert alert-danger">@ViewBag.Error</div>

                    }

                    <div>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-md-2"></div>
                            @Html.LabelFor(model => model.MediaType, htmlAttributes: new { @class = "col-md-2" })
                            <div class="col-md-8">
                                @Html.EnumDropDownListFor(model => model.MediaType, "Select Media Type", new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MediaType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2"></div>
                            @Html.LabelFor(model => model.MediaFolder, htmlAttributes: new { @class = "col-md-2" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.MediaFolder, (SelectList)ViewBag.Folders, "--Select Existing Folder--")
                                @Html.ValidationMessageFor(model => model.MediaFolder, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2"></div>
                            <div class="col-md-2" style="font-weight:bold">Upload Media</div>
                            <div class="col-md-6">
                                <label class="file">
                                    @Html.TextBox("files", "", new { type = "file" }) <br />
                                    <span class="file-custom"></span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2"></div>
                            @Html.LabelFor(model => model.Caption, htmlAttributes: new { @class = "col-md-2" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.Caption, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Caption, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8 text-center">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/Content/Varsity/assets/js/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".nav li").removeClass("active");//this will remove the active class from
        //previously active menu item
        $('#media').addClass('active');
        //for demo
        //$('#demo').addClass('active');
        //for sale
        //$('#sale').addClass('active');
    });
</script>