
@{
    ViewBag.Title = "Mahamesh Yojana";
}

<div class="container body-content" id="#maincontent" style=" margin-bottom: 150px;">
    <div class="panel panel-primary-3" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">

        <div class="panel-body">
            <div class="row">
                <section id="mu-service">
                    <div class="mu-service-area">

                        <div class="row" style="padding-top:30px">
                            <!-- Start single service -->
                            <div class="mu-service-single-20" style="background:#fd4401">
                                <span class="fa fa-list-alt"></span>
                                <h5><a href="@Url.Action("Ambajogai", "Home")">Mahamesh Yojana 2019-20 Highlights</a></h5>
                            </div>
                            <div class="mu-service-single-20">
                                <span class="fa fa-list-alt"></span>
                                <h5><a href="@Url.Action("Bilakhed", "Home")">Government Guidelines</a></h5>
                            </div>
                            <div class="mu-service-single-20">
                                <span class="fa fa-list-alt"></span>
                                <h5><a href="@Url.Action("Bondri", "Home")">Physical and Financial Target</a></h5>
                            </div>
                            <div class="mu-service-single-20">
                                <span class="fa fa-list-alt"></span>
                                <h5><a href="@Url.Action("Dahiwadi", "Home")">Android App On Google Play Store</a></h5>
                            </div>
                            <div class="mu-service-single-20" style="background:#df82a4">
                                <span class="fa fa-list-alt"></span>
                                <h5><a href="@Url.Action("Mahud", "Home")">YouTube Video</a></h5>
                            </div>
       
                            <div class="mu-service-single-20" style="background:#c0054a">
                                <span class="fa fa-list-alt"></span>
                                <h5><a href="@Url.Action("Mukhed", "Home")">User Manual</a></h5>
                            </div>
                        </div>
                        <div class="row">

                            <div class="mu-service-single-20" style="background:#fdc201">
                                <span class="fa fa-list-alt"></span>
                                <h5><a href="@Url.Action("Padegaon", "Home")">Beneficiary List Preliminary & Final</a></h5>
                            </div>
                            <div class="mu-service-single-20" style="background:#82df8e">
                                <span class="fa fa-list-alt"></span>
                                <h5><a href="@Url.Action("Pohara", "Home")">Download Standard Forms</a></h5>
                            </div>
                            <div class="mu-service-single-20" style="background:#fe4c75">
                                <span class="fa fa-list-alt"></span>
                                <h5><a href="@Url.Action("Ranjini", "Home")">User Login</a></h5>
                            </div>
                            <div class="mu-service-single-20" style="background:#fe7c4c">
                                <span class="fa fa-list-alt"></span>
                                <h5><a href="@Url.Action("Tirth", "Home")">Officer Login</a></h5>
                            </div>
                            <div class="mu-service-single-20" style="background:#fe7c4c">
                                <span class="fa fa-list-alt"></span>
                                <h5><a href="@Url.Action("Tirth", "Home")">Contact Us/Support</a></h5>
                            </div>
                        </div>
                       
                    </div>
                </section>
            </div>
            <div class="row">
                <section id="mu-features">
                    <div class="container   text-center">
                        <div class="row">
                            <div class="col-lg-10 col-md-10">
                                @*<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img class="img-responsive d-block w-100" src="~/Images/slider1.jpg" alt="First slide">
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive d-block w-100" src="~/Images/slider2.jpg" alt="Second slide">
                                        </div>
                                        <div class="item">
                                            <img class="img-responsive d-block w-100" src="~/Images/slider3.jpg" alt="Third slide">
                                        </div>
                                    </div>
                                </div>*@

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

