@model Mahamesh.Models.PhysicalTargetViewModel
@{
    ViewBag.Title = "Physical and Financial Target";
}

<style>
    .lbl {
        top: 8px;
        font-size: 15px;
        text-align: center;
    }
</style>
<div class="container body-content" id="#maincontent" style="margin-bottom: 150px;">
    <div class="headerDashboard">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 headerText">
            <h2>राजे यशवंतराव होळकर महामेष योजना</h2>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:right">
            <img src="~/Images/Raje.jpg" class="img-responsive" alt="Raje Yashwant Holkar" />
        </div>

    </div>
    <div class="panel panel-primary-2" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary-2">
            <h5 class="text-center">Physical and Financial Target</h5>
        </div>
        <div class="panel-body">
            @using (Html.BeginForm("MahameshYojanaTargets", "Menu", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="Comp" class="col-sm-2 control-label lbl">घटक:</label>
                        <select class="form-control col-sm-10" style="width:75%" name="Component" id="Component">
                            <option value="0">
                                ----
                            </option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            @*<option value="5">5</option>
                        <option value="6">6</option>*@
                        </select>

                    </div>
                    <div class=" form-group col-lg-6">
                        <label for="district" class="col-sm-2 control-label lbl">जिल्हा:</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x=>x.DistrictName, (IEnumerable<SelectListItem>)ViewBag.District, new { @class = "form-control" })

                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-xs-6">
                        <label for="Comp" class="col-sm-2 control-label lbl">तालुका:</label>
                        <div class="col-sm-10" style="width:75%">
                            @Html.DropDownListFor(x=>x.TalukaName, new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control" })

                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <button class="btn btn-primary" id="btnShow" type="submit">Show</button>
                </div>
            }
        </div>
            
        <div class="panel-body">
            @if (Model.Comp1TargetList.Count > 0)
            {
                <table id="comp1" class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>
                                जिल्ह्याचे नाव

                            </th>
                            <th>
                                मेंढ्यांची संख्या

                            </th>
                            <th>
                                मेंढ्यांच्या संख्येची टक्केवारी

                            </th>
                            <th>
                                भौतिक उद्धिष्ट (संख्या)-"स्थायी"

                            </th>
                            <th>
                                भौतिक उद्धिष्ट (संख्या)-"स्थलांतरीत"
                            </th>
                            <th>
                                शासन अनुदान (रु.)-"स्थायी"
                            </th>
                            <th>  शासन अनुदान (रु.)-"स्थलांतरीत"</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Comp1TargetList)
                        {
                            <tr>
                                <td>@item.DistrictName</td>
                                <td>@item.NoOfSheep</td>
                                <td>@item.PercentageOfSheep %</td>
                                <td>@item.PermOrigin</td>
                                <td>@item.TempOrigin</td>
                                <td>@item.PermGrant</td>
                                <td>@item.TempGrant</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            @if (Model.Comp3TargetList.Count > 0)
            {
                <hr />
                <table id="comp3" class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>
                                जिल्ह्याचे नाव

                            </th>
                            <th>
                                मेंढ्यांची संख्या

                            </th>
                            <th>
                                मेंढ्यांच्या संख्येची टक्केवारी

                            </th>
                            <th>
                                भौतिक उद्धिष्ट (संख्या)-"स्थायी"
                                (४० मेंढया व २ मेंढेनर पेक्षा कमी पशुधन संख्या असलेले लाभधारक
                                )
                            </th>
                            <th>
                                भौतिक उद्धिष्ट (संख्या)-"स्थायी"(४० मेंढया व २ मेंढेनर पेक्षा जास्त पशुधन संख्या असलेले लाभधारक
                                )
                            </th>
                            <th>
                                भौतिक उद्धिष्ट (संख्या)-"स्थलांतरीत"(४० मेंढया व २ मेंढेनर पेक्षा कमी पशुधन संख्या असलेले लाभधारक
                                )

                            </th>
                            <th>
                                भौतिक उद्धिष्ट (संख्या)-"स्थलांतरीत" (४० मेंढया व २ मेंढेनर पेक्षा जास्त पशुधन संख्या असलेले लाभधारक
                                )
                            </th>
                            <th>
                                शासन अनुदान (रु.)-"स्थायी"
                                (४० मेंढया व २ मेंढेनर पेक्षा कमी पशुधन संख्या असलेले लाभधारक
                                )
                            </th>
                            <th>
                                शासन अनुदान (रु.)-"स्थलांतरीत"(४० मेंढया व २ मेंढेनर पेक्षा कमी पशुधन संख्या असलेले लाभधारक
                                )
                            </th>
                            <th>
                                शासन अनुदान (रु.)-"स्थायी"
                            </th>
                            <th>
                                शासन अनुदान (रु.)-"स्थलांतरीत" (४० मेंढया व २ मेंढेनर पेक्षा जास्त पशुधन संख्या असलेले लाभधारक
                                )
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Comp3TargetList)
                        {
                            <tr>
                                <td>@item.DistrictName</td>
                                <td>@item.NoOfSheep</td>
                                <td>@item.PercentageOfSheep %</td>
                                <td>@item.PermBeneficiary1Origin</td>
                                <td>@item.PermBeneficiary2Origin</td>
                                <td>@item.TempBeneficiary1Origin</td>
                                <td>@item.TempBeneficiary2Origin</td>
                                <td>@item.PermGrantBeneficiary1</td>
                                <td>@item.PermGrantBeneficiary2</td>
                                <td>@item.TempGrantBeneficiary1</td>
                                <td>@item.TempGrantBeneficiary2</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <hr />
            @if (Model.Comp4TargetList.Count > 0)
            {
                <table id="comp4" class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>
                                जिल्ह्याचे नाव

                            </th>
                            <th>
                                मेंढ्यांची संख्या

                            </th>
                            <th>
                                मेंढ्यांच्या संख्येची टक्केवारी

                            </th>
                            <th>
                                भौतिक उद्धिष्ट (संख्या)-"स्थायी"

                            </th>
                            <th>
                                भौतिक उद्धिष्ट (संख्या)-"स्थलांतरीत"
                            </th>
                            <th>
                                शासन अनुदान (रु.)-"स्थायी"
                            </th>
                            <th>  शासन अनुदान (रु.)-"स्थलांतरीत"</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Comp4TargetList)
                        {
                            <tr>
                                <td>@item.DistrictName</td>
                                <td>@item.NoOfSheep</td>
                                <td>@item.PercentageOfSheep %</td>
                                <td>@item.PermOrigin</td>
                                <td>@item.TempOrigin</td>
                                <td>@item.PermGrant</td>
                                <td>@item.TempGrant</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <hr />
            }
            @if (Model.Comp2TargetList.Count > 0)
            {
                <table id="comp2" class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>
                                जिल्ह्याचे नाव

                            </th>
                            <th>
                                मेंढ्यांची संख्या

                            </th>
                            <th>
                                मेंढ्यांच्या संख्येची टक्केवारी

                            </th>
                            <th>
                                भौतिक उद्धिष्ट (संख्या)-"स्थायी"

                            </th>
                            @*<th>
                            भौतिक उद्धिष्ट (संख्या)-"स्थलांतरीत"
                        </th>*@
                            <th>
                                शासन अनुदान (रु.)-"स्थायी"
                            </th>
                            @*<th>  शासन अनुदान (रु.)-"स्थलांतरीत"</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Comp2TargetList)
                        {
                            <tr>
                                <td>@item.DistrictName</td>
                                <td>@item.NoOfSheep</td>
                                <td>@item.PercentageOfSheep %</td>
                                <td>@item.PermOrigin</td>

                                <td>@item.PermGrant</td>
                                @*<td>@item.TempGrant</td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            }
            @if (Model.Comp1TalukaList.Count > 0)
            {
                <table id="comptaluka1" class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>
                                जिल्ह्याचे नाव

                            </th>
                            <th>
                                तालुक्याचे नाव


                            </th>
                            <th>
                                मेंढ्यांची संख्या

                            </th>
                            <th>
                                मेंढ्यांच्या संख्येची टक्केवारी

                            </th>
                            <th>
                                भौतिक उद्धिष्ट (संख्या)-"स्थायी"

                            </th>
                            <th>
                                भौतिक उद्धिष्ट (संख्या)-"स्थलांतरीत"
                            </th>
                            <th>
                                शासन अनुदान (रु.)-"स्थायी"
                            </th>
                            <th>  शासन अनुदान (रु.)-"स्थलांतरीत"</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Comp1TalukaList)
                        {
                        <tr>
                            <td>@item.DistrictName</td>
                            <td>@item.TalukaName</td>
                            <td>@item.NoOfSheep</td>
                            <td>@item.PercentageOfSheep %</td>
                            <td>@item.PermOrigin</td>
                            <td>@item.TempOrigin</td>
                            <td>@item.PermGrant</td>
                            <td>@item.TempGrant</td>
                        </tr>
                        }
                    </tbody>
                </table>
            }
            @if (Model.Comp3TalukaList.Count > 0)
            {
                <hr />
                <table id="comptaluka3" class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>
                                जिल्ह्याचे नाव

                            </th>
                            <th>
                                तालुक्याचे नाव

                            </th>
                            <th>
                                मेंढ्यांची संख्या

                            </th>
                            <th>
                                मेंढ्यांच्या संख्येची टक्केवारी

                            </th>
                            <th>
                                भौतिक उद्धिष्ट (संख्या)-"स्थायी"
                                (४० मेंढया व २ मेंढेनर पेक्षा कमी पशुधन संख्या असलेले लाभधारक
                                )
                            </th>
                            <th>
                                भौतिक उद्धिष्ट (संख्या)-"स्थायी"(४० मेंढया व २ मेंढेनर पेक्षा जास्त पशुधन संख्या असलेले लाभधारक
                                )
                            </th>
                            <th>
                                भौतिक उद्धिष्ट (संख्या)-"स्थलांतरीत"(४० मेंढया व २ मेंढेनर पेक्षा कमी पशुधन संख्या असलेले लाभधारक
                                )

                            </th>
                            <th>
                                भौतिक उद्धिष्ट (संख्या)-"स्थलांतरीत" (४० मेंढया व २ मेंढेनर पेक्षा जास्त पशुधन संख्या असलेले लाभधारक
                                )
                            </th>
                            <th>
                                शासन अनुदान (रु.)-"स्थायी"
                                (४० मेंढया व २ मेंढेनर पेक्षा कमी पशुधन संख्या असलेले लाभधारक
                                )
                            </th>
                            <th>
                                शासन अनुदान (रु.)-"स्थलांतरीत"(४० मेंढया व २ मेंढेनर पेक्षा कमी पशुधन संख्या असलेले लाभधारक
                                )
                            </th>
                            <th>
                                शासन अनुदान (रु.)-"स्थायी"
                            </th>
                            <th>
                                शासन अनुदान (रु.)-"स्थलांतरीत" (४० मेंढया व २ मेंढेनर पेक्षा जास्त पशुधन संख्या असलेले लाभधारक
                                )
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Comp3TalukaList)
                        {
                        <tr>
                            <td>@item.DistrictName</td>
                            <td>@item.TalukaName</td>
                            <td>@item.NoOfSheep</td>
                            <td>@item.PercentageOfSheep %</td>
                            <td>@item.PermBeneficiary1Origin</td>
                            <td>@item.PermBeneficiary2Origin</td>
                            <td>@item.TempBeneficiary1Origin</td>
                            <td>@item.TempBeneficiary2Origin</td>
                            <td>@item.PermGrantBeneficiary1</td>
                            <td>@item.PermGrantBeneficiary2</td>
                            <td>@item.TempGrantBeneficiary1</td>
                            <td>@item.TempGrantBeneficiary2</td>
                        </tr>
                        }
                    </tbody>
                </table>
            }
            <hr />
            @if (Model.Comp4TalukaList.Count > 0)
            {
                <table id="comptaluka4" class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>
                                जिल्ह्याचे नाव

                            </th>
                            <th>
                                तालुक्याचे नाव

                            </th>
                            <th>
                                मेंढ्यांची संख्या

                            </th>
                            <th>
                                मेंढ्यांच्या संख्येची टक्केवारी

                            </th>
                            <th>
                                भौतिक उद्धिष्ट (संख्या)-"स्थायी"

                            </th>
                            <th>
                                भौतिक उद्धिष्ट (संख्या)-"स्थलांतरीत"
                            </th>
                            <th>
                                शासन अनुदान (रु.)-"स्थायी"
                            </th>
                            <th>  शासन अनुदान (रु.)-"स्थलांतरीत"</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Comp4TalukaList)
                        {
                        <tr>
                            <td>@item.DistrictName</td>
                            <td>@item.TalukaName</td>
                            <td>@item.NoOfSheep</td>
                            <td>@item.PercentageOfSheep %</td>
                            <td>@item.PermOrigin</td>
                            <td>@item.TempOrigin</td>
                            <td>@item.PermGrant</td>
                            <td>@item.TempGrant</td>
                        </tr>
                        }
                    </tbody>
                </table>

                <hr />
            }
            @if (Model.Comp2TalukaList.Count > 0)
            {
                <table id="comptaluka2" class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>
                                जिल्ह्याचे नाव

                            </th>
                            <th>
                                तालुक्याचे नाव

                            </th>
                            <th>
                                मेंढ्यांची संख्या

                            </th>
                            <th>
                                मेंढ्यांच्या संख्येची टक्केवारी

                            </th>
                            <th>
                                भौतिक उद्धिष्ट (संख्या)-"स्थायी"

                            </th>
                            @*<th>
            भौतिक उद्धिष्ट (संख्या)-"स्थलांतरीत"
        </th>*@
                            <th>
                                शासन अनुदान (रु.)-"स्थायी"
                            </th>
                            @*<th>  शासन अनुदान (रु.)-"स्थलांतरीत"</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Comp2TalukaList)
                        {
                        <tr>
                            <td>@item.DistrictName</td>
                            <td>@item.TalukaName</td>
                            <td>@item.NoOfSheep</td>
                            <td>@item.PercentageOfSheep %</td>
                            <td>@item.PermOrigin</td>

                            <td>@item.PermGrant</td>
                            @*<td>@item.TempGrant</td>*@
                        </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
<script src="/Content/Varsity/assets/js/jquery.min.js" type="text/javascript"></script>

<script>
    //$("#Component").change(function ()
    //{
    //        //alert($("#Component").val());
    //});

    @*$("#btnShow").click(function () {
        var comp = $("#Component").val();
        var $compTable = "#comp" + comp;
        var district = $("#DistrictName option:selected").text();
        var taluka = $("#TalukaName option:selected").text();
        alert(comp);
        alert(district);
        alert(taluka);

        //if ((comp == 1)&&(district != null) && (taluka == "--Select Taluka--")) {
        //    $("#comp1").show();
        //}
        $.ajax({
            type: 'POST',
            url: '@Url.Action("MahameshYojanaTargets","Menu")',
            dataType: 'json',
            data: { district: district, comp: comp},
            success: function () {
               // alert();
                $($compTable).show();
            },
            error: function (ex) {
                alert('Failed.' + ex);
            }
        });
    });*@


       $("#DistrictName").change(function () {
            $("#TalukaName").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("getTaluka")',
                dataType: 'json',
                data: { dist: $("#DistrictName").val() },
                success: function (city) {
                    //alert(city);
                    $.each(city, function (i, city) {
                        $("#TalukaName").append('<option value="'
                            + city.Value + '">'
                            + city.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
            return false;
    });


</script>
