
@{
    ViewBag.Title = "Mahamesh Yojana";
}

<style type="text/css">


table, h3, h4 { font-family: 'Arial Unicode MS', serif; }
    /*Dashboard Tiles*/
    .grid {
        /* Grid Fallback */
        display: flex;
        flex-wrap: wrap;
        /* Supports Grid */
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: minmax(150px, auto);
        grid-gap: 1em;
    }

    .panel-title {
        font-family: Arial Unicode MS;
        font-weight: 800;
    }

    .module {
        /* Demo-Specific Styles */
        display: inherit;
        align-items: center;
        justify-content: center;
        height: 160px;
        /* Flex Fallback */
        margin-left: 5px;
        margin-right: 5px;
        flex: 1 1 200px;
        color: black !important;
        padding: 35px 10px;
        text-align: center;
    }

        .module a {
            color: black !important;
            font-weight: 600;
        }
    /* If Grid is supported, remove the margin we set for the fallback */
    @@supports (display: grid) {
        .module {
            margin: 0;
        }
    }

    .table > tbody > tr > td {
        font-size: 16px !important;
    }

    .tableheader {
        background: #1a9b83 !important;
        color: white;
        text-align: center;
        font-weight: bold;
    }

    .tableheader2 {
        background: #2c80c7 !important;
        color: white;
        text-align: center;
        font-weight: bold;
    }

    .table-striped2 > tbody > tr:nth-of-type(odd) {
        background-color: #c6e2ff;
    }

    p {
        margin: 0 !important;
    }
</style>
<div class="container body-content" id="#maincontent" style="margin-bottom: 20px;">
    <div class="headerDashboard">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 headerText">
            <h2>राजे यशवंतराव होळकर महामेष योजना</h2>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:right">
            <img src="~/Images/Raje.jpg" class="img-responsive" alt="Raje Yashwant Holkar" />
        </div>

    </div>
    <div class="panel panel-primary-2" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary-2 text-center">
            <h3 class="panel-title">Mahamesh Yojana Dashboard</h3>
        </div>
        <div class="panel-body">
            <div class="row">

                <section id="mu-service">
                    <div class="mu-service-area">
                        <div class="grid">

                            <div class="module" style="background:#ff7d7d;">
                                <div><span style="font-size:24px;" class="fa fa-th-list"></span></div>
                                <br />
                                <div>
                                    <h6><a href="@Url.Action("MahameshYojanaHighlights", "Menu")">महामेष  योजना २०१९-२० ठळक विशेष लक्षणे</a></h6>
                                    <h5><a href="@Url.Action("MahameshYojanaHighlights", "Menu")">Mahamesh Yojana 2019-20 Highlights</a></h5>
                                </div>
                            </div>
                            <div class="module" style="background:#50d2ef">
                                <span style="font-size:24px" class="fa fa-list-ul"></span>
                                <div>
                                    <h6><a href="@Url.Action("MahameshYojanaGuidelines", "Menu")"> मार्गदर्शक सूचना /शासन निर्णय</a></h6>
                                    <h5><a href="@Url.Action("MahameshYojanaGuidelines", "Menu")">Government Guidelines</a></h5>
                                </div>
                            </div>
                            <div class="module" style="background:#c33737">
                                <span style="font-size:24px" class="fa fa-line-chart"></span>
                                <h6><a href="@Url.Action("MahameshYojanaTargets", "Menu")">जिल्हा व तालुका लक्षांक</a></h6>
                                <h5><a href="@Url.Action("MahameshYojanaTargets", "Menu")">Physical and Financial Target</a></h5>
                            </div>

                            <div class="module"
                                 style="background:#eaa332">
                                <span style="font-size:24px" class="fa fa-list"></span>
                                <h6><a href="@Url.Action("MahameshYojanaBeneficiary", "Menu")">लाभार्थ्यांची प्राथमिक आणि अंतिम निवड यादी</a></h6>
                                <h5><a href="@Url.Action("MahameshYojanaBeneficiary", "Menu")">Beneficiary List Preliminary & Final</a></h5>
                            </div>

                            <div class="module" style="background:#e9c94f">
                                <span style="font-size:24px" class="fa fa-sign-in"></span>
                                <h5 class="blink"><a href="@Url.Action("MahameshYojanaUserLogin", "Menu")">अर्जदाराकरिता अर्जदार लॉगिन</a></h5>
                                <h5 class="blink"><a href="@Url.Action("MahameshYojanaUserLogin", "Menu")">User Login</a></h5>
                            </div>
                            <div class="module" style="background:#fe7c4c">
                                <span style="font-size:24px" class="fa fa-user-plus"></span>
                                <h5><a href="@Url.Action("MahameshYojanaOfficerLogin", "Menu")">अधिकारी लॉगीन</a></h5>
                                <h5><a href="@Url.Action("MahameshYojanaOfficerLogin", "Menu")">Officer Login</a></h5>
                            </div>
                            <div class="module" style="background:#7a5f5f">
                                <span style="font-size:24px" class="fa fa-phone"></span>
                                <h5><a href="@Url.Action("MahameshYojanaContact", "Menu")">संपर्क</a></h5>
                                <h5><a href="@Url.Action("MahameshYojanaContact", "Menu")">Contact Us / Support</a></h5>
                            </div>
                            <div class="module" style="background:#60b765">
                                <span style="font-size:24px" class="fa fa-list-ol"></span>
                                <h5><a href="@Url.Action("MahameshYojanaUserManual", "Menu")">अर्जदार मॅन्युअल</a></h5>
                                <h5><a href="@Url.Action("MahameshYojanaUserManual", "Menu")">User Manual</a></h5>
                            </div>
                            <div class="module"
                                 style="background:#1a9b83">
                                <span style="font-size:24px" class="fa fa-sticky-note"></span>
                                <h5><a href="@Url.Action("MahameshYojanaDownloads", "Menu")">बंधपत्र नमुने व लागणाऱ्या कागदपत्रांची  यादी</a></h5>
                                <h5><a href="@Url.Action("MahameshYojanaDownloads", "Menu")">Download Standard Formats</a></h5>
                            </div>
                            <div class="module"
                                 style="background:#5d5be5">
                                <span style="font-size:24px" class="fa fa-android"></span>
                                <h5><a href="@Url.Action("MahameshYojanaApp", "Menu")">गुगल प्ले स्टोअर वरील अँड्राईड अँप</a></h5>
                                <h5><a href="@Url.Action("MahameshYojanaApp", "Menu")">Android App On Google Play Store</a></h5>
                            </div>
                            <div class="module" style="background:#f64f4f">
                                <span style="font-size:24px" class="fa fa-youtube-play"></span>
                                <h5><a href="@Url.Action("MahameshYojanaVideo", "Menu")">युट्युब  विडिओ </a></h5>
                                <h5><a href="@Url.Action("MahameshYojanaVideo", "Menu")">YouTube Video</a></h5>
                            </div>
                            <div class="module" style="background:#e9c94f">
                                <span style="font-size:24px" class="fa fa-calendar"></span>
                                <h5><a href="@Url.Action("MahameshYojanaTimeTable", "Menu")">वेळापत्रक </a></h5>
                                <h5><a href="@Url.Action("MahameshYojanaTimeTable", "Menu")">Time Table</a></h5>
                            </div>
                        </div>
                        @*<div class="row" style="padding-top:30px">
                                <div class="mu-service-single-20" style="background:#fd4401">
                                    <span style="font-size:24px" class="fa fa-th-list"></span>
                                    <h5><a href="#">Mahamesh Yojana 2019-20 Highlights</a></h5>
                                </div>
                                <div class="mu-service-single-20">
                                    <span style="font-size:24px" class="fa fa-list-ul"></span>
                                    <h5><a href="#">Government Guidelines</a></h5>
                                </div>
                                <div class="mu-service-single-20" style="background:#c33737">
                                    <span style="font-size:24px" class="fa fa-line-chart"></span>
                                    <h5><a href="#">Physical and Financial Target</a></h5>
                                </div>
                                <div class="mu-service-single-20" style="background:#5d5be5">
                                    <span style="font-size:24px" class="fa fa-android"></span>
                                    <h5><a href="#">Android App On Google Play Store</a></h5>
                                </div>

                            </div>
                            <div class="row">

                                <div class="mu-service-single-20" style="background:#eaa332">
                                    <span style="font-size:24px" class="fa fa-list"></span>
                                    <h5><a href="#">Beneficiary List Preliminary & Final</a></h5>
                                </div>
                                <div class="mu-service-single-20" style="background:#1a9b83">
                                    <span style="font-size:24px" class="fa fa-sticky-note"></span>
                                    <h5><a href="#">Download Standard Forms</a></h5>
                                </div>
                                <div class="mu-service-single-20" style="background:#e9c94f">
                                    <span style="font-size:24px" class="fa fa-sign-in"></span>
                                    <h5><a href="#">User Login</a></h5>
                                </div>
                                <div class="mu-service-single-20" style="background:#fe7c4c">
                                    <span style="font-size:24px" class="fa fa-user-plus"></span>
                                    <h5><a href="#">Officer Login</a></h5>
                                </div>
                            </div>
                            <div class="row" style="padding-left:133px">

                                <div class="mu-service-single-20" style="background:#7a5f5f">
                                    <span style="font-size:24px" class="fa fa-phone"></span>
                                    <h5><a href="#">Contact Us / Support</a></h5>
                                </div>
                                <div class="mu-service-single-20" style="background:#f64f4f">
                                    <span style="font-size:24px" class="fa fa-youtube-play"></span>
                                    <h5><a href="#">YouTube Video</a></h5>
                                </div>

                                <div class="mu-service-single-20" style="background:#60b765">
                                    <span style="font-size:24px" class="fa fa-list-ol"></span>
                                    <h5><a href="#">User Manual</a></h5>
                                </div>
                            </div>*@
                    </div>
                </section>
            </div>
            @*</div>
                </div>*@
            <hr />

        </div>
    </div>
</div>

<section id="mu-slider" style=" margin-bottom: 150px ">
    <!-- Start single slider item -->
    <div class="mu-slider-single">
        <div class="mu-slider-img">
            <figure>
                <img src="/Content/Varsity/assets/img/slider/1.jpg" alt="img">
            </figure>
        </div>
        <div class="mu-slider-content">
            <h4>Banner2</h4>
            <span></span>
            <h2>We Will Help You</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet error eius reiciendis eum sint unde eveniet deserunt est debitis corporis temporibus recusandae accusamus.</p>
            <a href="#" class="mu-read-more-btn">Read More</a>
        </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="mu-slider-single">
        <div class="mu-slider-img">
            <figure>
                <img src="assets/img/slider/2.jpg" alt="img">
            </figure>
        </div>
        <div class="mu-slider-content">
            <h4>Banner3</h4>
            <span></span>
            <h2>Banner3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet error eius reiciendis eum sint unde eveniet deserunt est debitis corporis temporibus recusandae accusamus.</p>
            <a href="#" class="mu-read-more-btn">Read More</a>
        </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->
    <div class="mu-slider-single">
        <div class="mu-slider-img">
            <figure>
                <img src="/Content/Varsity/assets/img/slider/3.jpg" alt="img">
            </figure>
        </div>
        <div class="mu-slider-content">
            <h4>Banner1</h4>
            <span></span>
            <h2>Banner1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor amet error eius reiciendis eum sint unde eveniet deserunt est debitis corporis temporibus recusandae accusamus.</p>
            <a href="#" class="mu-read-more-btn">Read More</a>
        </div>
    </div>
    <!-- Start single slider item -->
</section>

