
@{
    ViewBag.Title = "OfficerIndex";
}

<div class="container body-content" id="#maincontent" style="margin-bottom:150px;">
    <div class="headerDashboard">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 headerText">
            <h2>राजे यशवंतराव होळकर महामेष योजना</h2>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:right">
            <img src="~/Images/Raje.jpg" class="img-responsive" alt="Raje Yashwant Holkar" />
        </div>

    </div>
    <div class="panel panel-primary-2" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary-2">
            <h5 class="text-center">अधिकारी लॉगिन</h5>
        </div>
        <div class="panel-body text-center">
            <div class="text-center">
                <div class="btn-group-vertical">
                    <button class="btn btn-info" style="margin-bottom:5px"><a style="color:white !important" href="@Url.Action("Index", "ApplicantRegistrations")">View Submitted Applications</a></button>
                    <button class="btn btn-warning" style="margin-bottom:5px"><a style="color:white !important" href="#" onclick="showPopup();">View Selected List</a></button>
                    @*<button id="btnUpload" class="btn btn-primary" style="margin-bottom:5px;color:white !important"><a target="_blank" style="color:white !important" href="@Url.Action("UploadDocuments", "Menu", new { @id = Model.Id})">Upload Documents</a></button>*@
                    <button class="btn btn-danger" style="margin-bottom:5px"><a href="@Url.Action("Index", "Home")" style="color:white !important">Log-out</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a id="btnClose" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>

            </div>
            @using (Html.BeginForm("PrelimList_Dist", "ApplicantRegistrations" ,FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="form-group">
                        @Html.Label("District", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("District", (IEnumerable<SelectListItem>)ViewBag.District, "Select", new { @class = "form-control" })
                    </div>
                   
                </div>
                <div class="modal-bottom text-center" style="padding:10px"> <button class="btn btn-default" type="submit">Submit</button></div>
            }
        </div>
    </div>
</div>
<script src="/Content/Varsity/assets/js/jquery.min.js"></script>

<script type="text/javascript">
    function showPopup() {
        $("#myModal").modal('show');

    }


</script>