@model Mahamesh.Models.OfficerLogin

@{
    ViewBag.Title = "Officer Dashboard";
}
<style>
    .lbl {
        top: 8px;
        font-size: 15px;
        text-align: center;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        font-size: 15px;
        padding: 4.5px;
    }

    .vertical-nav {
        height: auto;
        list-style: none;
        width: 80%; /******* MODIFIED ********/
        /*margin: 20px 0 0 0;*/
    }

        .vertical-nav li {
            height: 42px; /*//old 30px//*/
            background-color: #46cb92;
            border: 1px solid #fff;
            text-align: left;
            display: inline-block;
            float: left;
            padding-left: 7px;
            padding-top: 10px; /*old 5px*/
            clear: both;
            /*min-width: 282px;*/
            width: 100%;
            /******* MODIFIED ********/
        }

            .vertical-nav li:hover {
                background-color: #fe5719;
                color: #FFFFFF;
            }

            .vertical-nav li a {
                /*font-size: 14px;*/
                color: #ffffff;
            }

            .vertical-nav li.current {
                background-color: #97d2fe;
            }

                .vertical-nav li.current a {
                    color: #FFFFFF;
                }

    vertical-nav ul li ul {
        display: none;
        list-style-type: none;
        /*min-width: 250px;*/
        padding: 0px;
        margin-top: 3px;
        margin-left: 0px;
    }

    vertical-nav ul li:hover ul {
        display: block;
    }

        vertical-nav ul li:hover ul li {
            background-color: #74a9ea;
            /*min-width: 250px;

        min-height: 30px;*/
            display: inline-block;
        }

    vertical-nav ul li ul li:hover {
        background-color: #333333;
    }

    vertical-nav ul li ul li a {
        color: #FFF;
        text-decoration: underline;
    }

        vertical-nav ul li ul li a:hover {
            text-decoration: none;
        }

    .vertical-nav li ul {
        display: none;
        margin-top: -23px;
        padding: 0;
    }

    .vertical-nav li:hover ul {
        display: block;
    }

    .vertical-nav li:hover .sub-menu {
        position: relative;
        margin-top: -27.5px;
    }

    .sub-menu li {
        position: relative;
        display: block;
        top: 0;
        left: 100%;
        width: 100%;
        background-color: #ebb046;
        /*min-width: 180px;
        white-space: nowrap;*/
        z-index: 1;
    }

        .sub-menu li a {
            display: inline-block;
            padding: 0 10px;
        }

        .sub-menu li:hover {
            background-color: #fe5719;
            border: 1px solid #fff;
        }

    .sub-menu1 li {
        position: relative;
        display: block;
        top: 0;
        right: 103%;
        width: 100%;
        background-color: #78c3fb;
        /*min-width: 180px;
        white-space: nowrap;*/
        z-index: 1;
    }

        .sub-menu1 li a {
            display: inline-block;
            padding: 0 10px;
        }

        .sub-menu1 li:hover {
            background-color: #fe5719;
            border: 1px solid #fff;
        }

    @@media screen and (max-width: 700px) {
        .vertical-nav {
            width: 100%;
            height: auto;
            position: relative;
        }

            .vertical-nav li {
                width: 100%;
                height: auto;
                position: relative;
            }
    }

    /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
    @@media screen and (max-width: 400px) {
        .vertical-nav li {
            width: 100%;
            height: auto;
            position: relative;
        }
    }
     .table-striped3 > tbody > tr:nth-of-type(odd) {
        background-color: #f8d9d9;
    }

    .table > thead > tr > th {
          background-color: #0294A5;
    }
</style>
<div class="container-fluid body-content" id="#maincontent" style="margin-top:10px; margin-bottom: 150px;">
    <div class="panel panel-default" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-default text-center">
            @if (User.IsInRole("DDC"))
            {
                <h4 class="text-center">Welcome DDC</h4>
            }
            else if (User.IsInRole("DAHO"))
            {
                <h4 class="text-center">Welcome DAHO</h4>
            }
            <h5>Distict Code: @Model.district - District Name: @Model.DistName</h5>

        </div>
        <div class="panel-body">
            <div class="col-md-2">
                <ul class="vertical-nav">
                    @if (User.IsInRole("DDC"))
                    {
                        <li style="background-color:#F03A47"><a id="link1" href="#">View Login Details</a></li>
                    }

                    <li  style="background-color:#3C3744"><a id="link2" href="#">View Targets</a></li>
                    @if (User.IsInRole("DDC"))
                    {
                        <li style="background-color:#276FBF"><a href="@Url.Action("GenerateRandomList", "ApplicantRegistrations")">View Application Statistics</a></li>
                        <li style="background-color:#183059"><a href="#">Generate Random List</a></li>
                        <li style="background-color:#C46D73"><a href="#">Preliminary Document Scrutiny</a></li>
                        <li style="background-color:#0294A5"><a href="#">Final Beneficiary List</a></li>
                    }
                    @if (User.IsInRole("DAHO") || User.IsInRole("LDO"))
                    {
                        <li style="background-color:#F03A47"><a href="#">View Preliminary List</a></li>
                        <li style="background-color:#276FBF"><a href="#">Preliminary Scrutiny</a></li>
                        <li style="background-color:#183059"><a href="#">View Final List</a></li>
                    }
                    <li style="background-color:#716D77"><a href="@Url.Action("ResetPwdNew", "Menu" , new { username = Model.Username})">Change Password</a></li>
                    <li style="background-color:#19477A">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
                        }
                    </li>
                </ul>
            </div>
            @*<div class="col-lg-1"></div>*@
        <div class="col-md-9">
            @if (User.IsInRole("DDC"))
            {
                <div id="tab1">
                    <table class="table table-bordered table-striped3 table-responsive">
                        <thead class="tableHeader">
                            <tr class="text-center">
                                <th>Sr. No.</th>
                                <th>Designation</th>
                                <th>Taluka</th>
                                <th>Username</th>
                                <th>Password</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.OfficerList.Count; i++)
                            {
                                <tr>
                                    <td class="text-center">@(i + 1)</td>
                                    <td>@Model.OfficerList[i].desgination</td>
                                    <td>@Model.OfficerList[i].taluka</td>
                                    <td>@Model.OfficerList[i].Username</td>
                                    <td>@Model.OfficerList[i].pwd</td>
                                    <td class="text-center"><a class="btn btn-info btn-xs" href="@Url.Action("ResetPwd", "Menu", new { username = Model.OfficerList[i].Username, changedBy = Model.Username })">Reset</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
                <div id="tab2" style="display:none">
                    <div class="panel-body">
                        @*@using (Html.BeginForm("MahameshYojanaTargetsByDist", "Menu", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {*@
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="Comp" class="col-sm-2 control-label lbl">घटक:</label>
                                @*@Html.HiddenFor(x=>x.Component)*@
                                <select class="form-control col-sm-10" style="width:75%" name="Component" id="Component">
                                    <option value="0">
                                        ----
                                    </option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>

                                </select>

                            </div>
                            <div class=" form-group col-lg-6">
                                <label for="district" class="col-sm-2 control-label lbl">जिल्हा:</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(x => x.DistName, new { @class = "form-control", @readonly = "readonly" })

                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-xs-6">
                                <label for="Comp" class="col-sm-2 control-label lbl">तालुका:</label>
                                <div class="col-sm-10" style="width:75%">
                                    @Html.DropDownListFor(x => x.TalukaName, (SelectList)ViewBag.Taluka, "Select", new { @class = "form-control" })

                                </div>
                            </div>
                        </div>
                        <div class="row text-center">
                            <button class="btn btn-primary" id="btnShow" type="submit">Show</button>
                        </div>
                        @*}*@
                    </div>

                    <div class="panel-body">
                        <div id="divcomp1" style="display:none">
                            <h3 class="text-center text-success" style="font-weight:700">
                                प्रपत्र १
                            </h3>
                            <h5 class="text-center text-success">
                                पायाभूत सोई – सुविधेसह २० मेंढया + १ मेंढानर असा मेंढीगट वाटप करणे
                            </h5>
                            <table id="comp1" class="table table-bordered table-striped table-responsive" style="font-size:16px;">
                                <thead>
                                    <tr class="text-center">
                                        <th>
                                            जिल्ह्याचे नाव

                                        </th>
                                        <th>
                                            मेंढ्यांची संख्या

                                        </th>
                                        <th>
                                            मेंढ्यांच्या संख्येची टक्केवारी

                                        </th>
                                        <th>
                                            भौतिक उद्धिष्ट (संख्या)-"स्थायी"

                                        </th>
                                        <th>
                                            भौतिक उद्धिष्ट (संख्या)-"स्थलांतरीत"
                                        </th>
                                        <th>
                                            शासन अनुदान (रु.)-"स्थायी"
                                        </th>
                                        <th>  शासन अनुदान (रु.)-"स्थलांतरीत"</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TargetModel.Comp1TargetList)
                                    {
                                        <tr>
                                            <td>@item.DistrictName</td>
                                            <td>@item.NoOfSheep</td>
                                            <td style="text-align:right">
                                                @Math.Round(@item.PercentageOfSheep, 2) %
                                            </td>
                                            <td style="text-align:right">@item.PermOrigin</td>
                                            <td style="text-align:right">@item.TempOrigin</td>
                                            <td style="text-align:right">@item.PermGrant</td>
                                            <td style="text-align:right">@item.TempGrant</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div id="divcomp3" style="display:none">
                            <h3 class="text-center text-success" style="font-weight:700">
                                प्रपत्र ३

                            </h3>
                            <h5 class="text-center">
                                मेंढी पालनासाठी पायाभूत सोई-सुविधा उपलब्ध करून देण्यासाठी अनुदान

                            </h5>
                            <table id="comp3" class="table table-bordered table-striped table-responsive">
                                <thead class="text-center">
                                    <tr>
                                        <th>
                                            जिल्ह्याचे नाव

                                        </th>
                                        <th>
                                            मेंढ्यांची संख्या

                                        </th>
                                        <th>
                                            मेंढ्यांच्या संख्येची टक्केवारी

                                        </th>
                                        <th>
                                            भौतिक उद्धिष्ट (संख्या)-"स्थायी"
                                            (४० मेंढया व २ मेंढेनर पेक्षा कमी पशुधन संख्या असलेले लाभधारक
                                            )
                                        </th>
                                        <th>
                                            भौतिक उद्धिष्ट (संख्या)-"स्थायी"(४० मेंढया व २ मेंढेनर पेक्षा जास्त पशुधन संख्या असलेले लाभधारक
                                            )
                                        </th>
                                        <th>
                                            भौतिक उद्धिष्ट (संख्या)-"स्थलांतरीत"(४० मेंढया व २ मेंढेनर पेक्षा कमी पशुधन संख्या असलेले लाभधारक
                                            )

                                        </th>
                                        <th>
                                            भौतिक उद्धिष्ट (संख्या)-"स्थलांतरीत" (४० मेंढया व २ मेंढेनर पेक्षा जास्त पशुधन संख्या असलेले लाभधारक
                                            )
                                        </th>
                                        <th>
                                            शासन अनुदान (रु.)-"स्थायी"
                                            (४० मेंढया व २ मेंढेनर पेक्षा कमी पशुधन संख्या असलेले लाभधारक
                                            )
                                        </th>
                                        <th>
                                            शासन अनुदान (रु.)-"स्थलांतरीत"(४० मेंढया व २ मेंढेनर पेक्षा कमी पशुधन संख्या असलेले लाभधारक
                                            )
                                        </th>
                                        <th>
                                            शासन अनुदान (रु.)-"स्थायी"
                                        </th>
                                        <th>
                                            शासन अनुदान (रु.)-"स्थलांतरीत" (४० मेंढया व २ मेंढेनर पेक्षा जास्त पशुधन संख्या असलेले लाभधारक
                                            )
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TargetModel.Comp3TargetList)
                                    {
                                        <tr>
                                            <td>@item.DistrictName</td>
                                            <td>@item.NoOfSheep</td>
                                            <td style="text-align:right">
                                                @Math.Round(@item.PercentageOfSheep, 2) %
                                            </td>
                                            <td style="text-align:right">@item.PermBeneficiary1Origin</td>
                                            <td style="text-align:right">@item.PermBeneficiary2Origin</td>
                                            <td style="text-align:right">@item.TempBeneficiary1Origin</td>
                                            <td style="text-align:right">@item.TempBeneficiary2Origin</td>
                                            <td style="text-align:right">@item.PermGrantBeneficiary1</td>
                                            <td style="text-align:right">@item.PermGrantBeneficiary2</td>
                                            <td style="text-align:right">@item.TempGrantBeneficiary1</td>
                                            <td style="text-align:right">@item.TempGrantBeneficiary2</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div id="divcomp4" style="display:none">
                            <h3 class="text-center text-success" style="font-weight:700">
                                प्रपत्र ४


                            </h3>
                            <h5 class="text-center">
                                मेंढी पालनासाठी संतुलित खाद्य उपलब्ध करून देण्यासाठी अनुदान वाटप

                            </h5>
                            <table id="comp4" class="table table-bordered table-striped table-responsive">
                                <thead class="text-center">
                                    <tr>
                                        <th>
                                            जिल्ह्याचे नाव

                                        </th>
                                        <th>
                                            मेंढ्यांची संख्या

                                        </th>
                                        <th>
                                            मेंढ्यांच्या संख्येची टक्केवारी

                                        </th>
                                        <th>
                                            भौतिक उद्धिष्ट (संख्या)-"स्थायी"

                                        </th>
                                        <th>
                                            भौतिक उद्धिष्ट (संख्या)-"स्थलांतरीत"
                                        </th>
                                        <th>
                                            शासन अनुदान (रु.)-"स्थायी"
                                        </th>
                                        <th>  शासन अनुदान (रु.)-"स्थलांतरीत"</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TargetModel.Comp4TargetList)
                                    {
                                        <tr>
                                            <td>@item.DistrictName</td>
                                            <td>@item.NoOfSheep</td>
                                            <td style="text-align:right">
                                                @Math.Round(@item.PercentageOfSheep, 2) %
                                            </td>
                                            <td style="text-align:right">@item.PermOrigin</td>
                                            <td style="text-align:right">@item.TempOrigin</td>
                                            <td style="text-align:right">@item.PermGrant</td>
                                            <td style="text-align:right">@item.TempGrant</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                        <div id="divcomp2" style="display:none">
                            <h3 class="text-center text-success" style="font-weight:700">
                                प्रपत्र २

                            </h3>
                            <h5 class="text-center">
                                सुधारित प्रजातींच्या नर मेंढ्यांचे वाटप भौतिक उद्धिष्ट

                            </h5>
                            <table id="comp2" class="table table-bordered table-striped table-responsive">
                                <thead class="text-center">
                                    <tr>
                                        <th>
                                            जिल्ह्याचे नाव

                                        </th>
                                        <th>
                                            मेंढ्यांची संख्या

                                        </th>
                                        <th>
                                            मेंढ्यांच्या संख्येची टक्केवारी

                                        </th>
                                        <th>
                                            भौतिक उद्धिष्ट (संख्या)

                                        </th>

                                        <th>  शासन अनुदान (रु.)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TargetModel.Comp2TargetList)
                                    {
                                        <tr>
                                            <td> @item.DistrictName </td>
                                            <td> @item.NoOfSheep </td>
                                            <td style="text-align:right">
                                                @Math.Round(@item.PercentageOfSheep, 2) %
                                            </td>
                                            <td style="text-align:right"> @item.PermOrigin </td>

                                            <td style="text-align:right"> @item.PermGrant </td>


                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div id="divcomp1taluka" style="display:none">
                            <h3 class="text-center text-success" style="font-weight:700">
                                प्रपत्र १ (तालुका निहाय)
                            </h3>
                            <h5 class="text-center">
                                घटक क्रमांक १- पायाभूत सोई – सुविधेसह २० मेंढया + १ मेंढानर असा मेंढीगट वाटप करणे
                            </h5>
                            <table id="comptaluka1" class="table table-bordered table-striped table-responsive">
                                <thead class="text-center">
                                    <tr>
                                        <th>
                                            जिल्ह्याचे नाव

                                        </th>
                                        <th>
                                            तालुक्याचे नाव


                                        </th>
                                        <th>
                                            मेंढ्यांची संख्या

                                        </th>
                                        <th>
                                            मेंढ्यांच्या संख्येची टक्केवारी

                                        </th>
                                        <th>
                                            भौतिक उद्धिष्ट (संख्या)-"स्थायी"

                                        </th>
                                        <th>
                                            भौतिक उद्धिष्ट (संख्या)-"स्थलांतरीत"
                                        </th>
                                        <th>
                                            शासन अनुदान (रु.)-"स्थायी"
                                        </th>
                                        <th>  शासन अनुदान (रु.)-"स्थलांतरीत"</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TargetModel.Comp1TalukaList)
                                    {
                                        <tr>
                                            <td> @item.DistrictName </td>
                                            <td> @item.TalukaName </td>
                                            <td> @item.NoOfSheep </td>
                                            <td style="text-align:right"> @Math.Round(item.PercentageOfSheep, 2) %</td>

                                            <td style="text-align:right"> @item.PermOrigin </td>

                                            <td style="text-align:right"> @item.PermGrant </td>

                                            <td style="text-align:right"> @item.TempOrigin </td>

                                            <td style="text-align:right"> @item.TempGrant </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div id="divcomp3taluka" style="display:none">
                            <h3 class="text-center text-success" style="font-weight:700">
                                प्रपत्र ३ (तालुका निहाय)

                            </h3>
                            <h5 class="text-center">
                                घटक क्रमांक ३-मेंढी पालनासाठी पायाभूत सोई-सुविधा उपलब्ध करून देण्यासाठी अनुदान

                            </h5>
                            <table id="comptaluka3" class="table table-bordered table-striped table-responsive">
                                <thead class="text-center">
                                    <tr>
                                        <th>
                                            जिल्ह्याचे नाव

                                        </th>
                                        <th>
                                            तालुक्याचे नाव

                                        </th>
                                        <th>
                                            मेंढ्यांची संख्या

                                        </th>
                                        <th>
                                            मेंढ्यांच्या संख्येची टक्केवारी

                                        </th>
                                        <th>
                                            भौतिक उद्धिष्ट (संख्या)-"स्थायी"
                                            (४० मेंढया व २ मेंढेनर पेक्षा कमी पशुधन संख्या असलेले लाभधारक
                                            )
                                        </th>
                                        <th>
                                            भौतिक उद्धिष्ट (संख्या) - "स्थायी"
                                            (४० मेंढया व २ मेंढेनर पेक्षा जास्त पशुधन संख्या असलेले लाभधारक
                                            )
                                        </th>
                                        <th>
                                            भौतिक उद्धिष्ट (संख्या)-"स्थलांतरीत"(४० मेंढया व २ मेंढेनर पेक्षा कमी पशुधन संख्या असलेले लाभधारक
                                            )
                                        </th>
                                        <th>
                                            भौतिक उद्धिष्ट (संख्या)-"स्थलांतरीत"(४० मेंढया व २ मेंढेनर पेक्षा जास्त पशुधन संख्या असलेले लाभधारक
                                            )
                                        </th>
                                        <th>
                                            शासन अनुदान (रु.)
                                            -"स्थायी"
                                            (४० मेंढया व २ मेंढेनर पेक्षा कमी पशुधन संख्या असलेले लाभधारक
                                            )
                                        </th>
                                        <th>
                                            शासन अनुदान (रु.)
                                            - "स्थायी"
                                            (४० मेंढया व २ मेंढेनर पेक्षा जास्त पशुधन संख्या असलेले लाभधारक
                                            )
                                        </th>
                                        <th>
                                            शासन अनुदान (रु.)
                                            -"स्थलांतरीत"(४० मेंढया व २ मेंढेनर पेक्षा कमी पशुधन संख्या असलेले लाभधारक
                                            )
                                        </th>
                                        <th>
                                            शासन अनुदान (रु.)
                                            -"स्थलांतरीत"(४० मेंढया व २ मेंढेनर पेक्षा जास्त पशुधन संख्या असलेले लाभधारक
                                            )
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TargetModel.Comp3TalukaList)
                                    {
                                        <tr>
                                            <td> @item.DistrictName </td>
                                            <td> @item.TalukaName </td>
                                            <td> @item.NoOfSheep </td>
                                            <td style="text-align:right"> @Math.Round(item.PercentageOfSheep, 2) %</td>
                                            <td style="text-align:right"> @item.PermBeneficiary1Origin </td>
                                            <td style="text-align:right"> @item.PermBeneficiary2Origin </td>
                                            <td style="text-align:right"> @item.TempBeneficiary1Origin </td>
                                            <td style="text-align:right"> @item.TempBeneficiary2Origin </td>
                                            <td style="text-align:right"> @item.PermGrantBeneficiary1 </td>
                                            <td style="text-align:right"> @item.PermGrantBeneficiary2 </td>
                                            <td style="text-align:right"> @item.TempGrantBeneficiary1 </td>
                                            <td style="text-align:right"> @item.TempGrantBeneficiary2 </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div id="divcomp4taluka" style="display:none">
                            <h3 class="text-center text-success" style="font-weight:700">
                                प्रपत्र ४ (तालुका निहाय)

                            </h3>
                            <h5 class="text-center">
                                घटक क्रमांक ४ - मेंढी पालनासाठी संतुलित खाद्य उपलब्ध करून देण्यासाठी अनुदान वाटप

                            </h5>
                            <table id="comptaluka4" class="table table-bordered table-striped table-responsive">
                                <thead class="text-center">
                                    <tr>
                                        <th>
                                            जिल्ह्याचे नाव

                                        </th>
                                        <th>
                                            तालुक्याचे नाव

                                        </th>
                                        <th>
                                            मेंढ्यांची संख्या

                                        </th>
                                        <th>
                                            मेंढ्यांच्या संख्येची टक्केवारी

                                        </th>
                                        <th>
                                            भौतिक उद्धिष्ट (संख्या)-"स्थायी"

                                        </th>
                                        <th>
                                            भौतिक उद्धिष्ट (संख्या)-"स्थलांतरीत"
                                        </th>
                                        <th>
                                            शासन अनुदान (रु.)-"स्थायी"
                                        </th>
                                        <th>  शासन अनुदान (रु.)-"स्थलांतरीत"</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TargetModel.Comp4TalukaList)
                                    {
                                        <tr>
                                            <td> @item.DistrictName </td>
                                            <td> @item.TalukaName </td>
                                            <td> @item.NoOfSheep </td>
                                            <td style="text-align:right"> @Math.Round(item.PercentageOfSheep, 2) %</td>
                                            <td style="text-align:right"> @item.PermOrigin </td>
                                            <td style="text-align:right"> @item.TempOrigin </td>
                                            <td style="text-align:right"> @item.PermGrant </td>
                                            <td style="text-align:right"> @item.TempGrant </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                        <div id="divcomp2taluka" style="display:none">
                            <h3 class="text-center text-success" style="font-weight:700">
                                प्रपत्र २ (तालुका निहाय)

                            </h3>
                            <h5 class="text-center">
                                घटक क्रमांक २- सुधारित प्रजातींच्या नर मेंढ्यांचे वाटप

                            </h5>
                            <table id="comptaluka2" class="table table-bordered table-striped table-responsive">
                                <thead class="text-center">
                                    <tr>
                                        <th>
                                            जिल्ह्याचे नाव

                                        </th>
                                        <th>
                                            तालुक्याचे नाव

                                        </th>
                                        <th>
                                            मेंढ्यांची संख्या

                                        </th>
                                        <th>
                                            मेंढ्यांच्या संख्येची टक्केवारी

                                        </th>
                                        <th>
                                            भौतिक उद्धिष्ट (संख्या)-"स्थायी"

                                        </th>
                                        <th>
                                            शासन अनुदान (रु)

                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.TargetModel.Comp2TalukaList)
                                    {
                                        <tr>
                                            <td> @item.DistrictName </td>
                                            <td> @item.TalukaName </td>
                                            <td> @item.NoOfSheep </td>
                                            <td style="text-align:right"> @Math.Round(item.PercentageOfSheep, 2) %</td>
                                            <td style="text-align:right"> @item.PermOrigin </td>

                                            <td style="text-align:right"> @item.PermGrant </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="tab3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>Sr. No.</td>
                                <td>District</td>
                                <td>Taluka</td>
                                <td></td>
                                <td>Component 1</td>
                                <td>Component 2</td>
                                <td>Component 3-7</td>
                                <td>Component 8</td>
                                <td>Component 9</td>
                                <td>Component 10</td>
                                <td>Component 11</td>
                                <td>Component 12</td>
                                <td>Component 13</td>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int j = 0; j < Model.NewTarget.TargetList.Count; j++)
                            {
                                <tr style="background-color:lightsalmon">
                                    <td>@(j + 1)</td>
                                    <td>@Model.NewTarget.TargetList[j].Name_of_District</td>
                                    <td></td>
                                    <td>Physical Target</td>
                                    <td>@Model.NewTarget.TargetList[j].Component_No_1</td>
                                    <td>@Model.NewTarget.TargetList[j].Component_No_2</td>
                                    <td>@Model.NewTarget.TargetList[j].Component_No_3_7</td>
                                    <td>@Model.NewTarget.TargetList[j].Component_No_8</td>
                                    <td>@Model.NewTarget.TargetList[j].Component_No_9</td>
                                    <td>@Model.NewTarget.TargetList[j].Component_No_10</td>
                                    <td>@Model.NewTarget.TargetList[j].Component_No_11</td>
                                    <td>@Model.NewTarget.TargetList[j].Component_No_12</td>
                                    <td>@Model.NewTarget.TargetList[j].Component_No_13</td>
                                </tr>
                                <tr style="background-color:lightgray">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Target for Handicapped</td>
                                    <td>@Model.NewTarget.TargetList[j].HandicapTarget_Component_No_1</td>
                                    <td>@Model.NewTarget.TargetList[j].HandicapTarget_Component_No_2</td>
                                    <td>@Model.NewTarget.TargetList[j].HandicapTarget_Component_No_3_7</td>
                                    <td>@Model.NewTarget.TargetList[j].HandicapTarget_Component_No_8</td>
                                    <td>@Model.NewTarget.TargetList[j].HandicapTarget_Component_No_9</td>
                                    <td>@Model.NewTarget.TargetList[j].HandicapTarget_Component_No_10</td>
                                    <td>@Model.NewTarget.TargetList[j].HandicapTarget_Component_No_11</td>
                                    <td>@Model.NewTarget.TargetList[j].HandicapTarget_Component_No_12</td>
                                    <td>@Model.NewTarget.TargetList[j].HandicapTarget_Component_No_13</td>
                                </tr>
                                <tr style="background-color:lightsteelblue">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Target for Female</td>
                                    <td>@Model.NewTarget.TargetList[j].FemaleTarget_Component_No_1</td>
                                    <td>@Model.NewTarget.TargetList[j].FemaleTarget_Component_No_2</td>
                                    <td>@Model.NewTarget.TargetList[j].FemaleTarget_Component_No_3_7</td>
                                    <td>@Model.NewTarget.TargetList[j].FemaleTarget_Component_No_8</td>
                                    <td>@Model.NewTarget.TargetList[j].FemaleTarget_Component_No_9</td>
                                    <td>@Model.NewTarget.TargetList[j].FemaleTarget_Component_No_10</td>
                                    <td>@Model.NewTarget.TargetList[j].FemaleTarget_Component_No_11</td>
                                    <td>@Model.NewTarget.TargetList[j].FemaleTarget_Component_No_12</td>
                                    <td>@Model.NewTarget.TargetList[j].FemaleTarget_Component_No_13</td>
                                </tr>
                                <tr>
                                    <td colspan="13"></td>
                                </tr>
                                for (int i = 0; i < Model.NewTarget.TargetList[j].TalukaTarget.Count; i++)
                                {
                                    <tr style="background-color:lightblue">
                                        <td>@(j + 1).@(i + 1)</td>
                                        <td>@Model.NewTarget.TargetList[j].Name_of_District</td>
                                        <td>@Model.NewTarget.TargetList[j].TalukaTarget[i].Name_Of_Taluka</td>
                                        <td>Physical Actual Target</td>
                                        <td>@Model.NewTarget.TargetList[j].TalukaTarget[i].Component_No_1</td>
                                        <td>@Model.NewTarget.TargetList[j].TalukaTarget[i].Component_No_2</td>
                                        <td>@Model.NewTarget.TargetList[j].TalukaTarget[i].Component_No_3_7</td>
                                        <td>@Model.NewTarget.TargetList[j].TalukaTarget[i].Component_No_8</td>
                                        <td>@Model.NewTarget.TargetList[j].TalukaTarget[i].Component_No_9</td>
                                        <td>@Model.NewTarget.TargetList[j].TalukaTarget[i].Component_No_10</td>
                                        <td>@Model.NewTarget.TargetList[j].TalukaTarget[i].Component_No_11</td>
                                        <td>@Model.NewTarget.TargetList[j].TalukaTarget[i].Component_No_12</td>
                                        <td>@Model.NewTarget.TargetList[j].TalukaTarget[i].Component_No_13</td>
                                    </tr>
                                    <tr style="background-color:lightgoldenrodyellow">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>General Target</td>
                                        <td>@Model.NewTarget.TargetList[j].TalukaTarget[i].GeneralTarget_Component_No_1</td>
                                        <td>@Model.NewTarget.TargetList[j].TalukaTarget[i].GeneralTarget_Component_No_2</td>
                                        <td>@Model.NewTarget.TargetList[j].TalukaTarget[i].GeneralTarget_Component_No_3_7</td>
                                        <td>@Model.NewTarget.TargetList[j].TalukaTarget[i].GeneralTarget_Component_No_8</td>
                                        <td>@Model.NewTarget.TargetList[j].TalukaTarget[i].GeneralTarget_Component_No_9</td>
                                        <td>@Model.NewTarget.TargetList[j].TalukaTarget[i].GeneralTarget_Component_No_10</td>
                                        <td>@Model.NewTarget.TargetList[j].TalukaTarget[i].GeneralTarget_Component_No_11</td>
                                        <td>@Model.NewTarget.TargetList[j].TalukaTarget[i].GeneralTarget_Component_No_12</td>
                                        <td>@Model.NewTarget.TargetList[j].TalukaTarget[i].GeneralTarget_Component_No_13</td>
                                    </tr>
                                    <tr style="background-color:lightcyan">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Applications Received</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="13"></td>
                                    </tr>
                                }


                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/Content/Varsity/assets/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#link1").click(function () {
            $("#tab1").toggle();
            $("#tab2").hide();

        });
        $("#link2").click(function () {
            $("#tab2").toggle();
            $("#tab1").hide();

        });

    });
</script>
<script>
    $(document).ready(function () {

        var Component = "@Model.TargetModel.Component";

        if (Component != "") {
            $("#Component").val(Component);
        }

        var Taluka = "@Model.TargetModel.TalukaName";
       // alert(Taluka);
        if (Taluka != "") {
            $("#TalukaName").val(Taluka);
        }

    });
</script>
<script>

    $("#Component").change(function () {
        var District = "@Model.DistName";

                $("#TalukaName").empty();
                $.ajax({
                  type: 'POST',
                    url: '@Url.Action("getTaluka")',
                    dataType: 'json',
                    data: { dist: District },
                    success: function(city) {
                        //alert(city);
                        $.each(city, function(i, city) {
                            $("#TalukaName").append('<option value="'
                                + city.Value + '">'
                                + city.Text + '</option>');
                });
            },
                    error: function(ex) {
                alert('Failed.' + ex);
            }
        });
        return false;
});

      $("#btnShow").click(function () {
          var Comp = $("#Component option:selected").val();
          var District =  $("#DistName").val();
            var taluka =  $("#TalukaName option:selected").val();
                $.ajax({
                  type: 'GET',
                    url: '@Url.Action("MahameshYojanaTargetsByDist")',
                    dataType: 'json',
                    data: { comp: Comp, dist: District, tal:taluka },
                    success: function (result)
                    {
                        if (Comp == "1" && taluka == "0") {

                              $('#comp1 tbody').empty();
                              $.each(result.TargetModel.Comp1TargetList, function (i, item) {
                                    var rows = "<tr>"
                            //+ "<td>" + (i+1) + "</td>"
                            + "<td>" + item.DistrictName + "</td>"
                            + "<td>" + item.NoOfSheep + "</td>"
                                        + "<td>" +   item.PercentageOfSheep  + "%</td>"
                                        + "<td>" + item.PermOrigin + "</td>"
                                        + "<td>" + item.TempOrigin + "</td>"
                                        + "<td>" + item.PermGrant + "</td>"
                                          + "<td>" + item.TempGrant + "</td>"
                            + "</tr>";
                                    $('#comp1 tbody').append(rows);
                              });
                             $('#divcomp1').show();
                            $('#divcomp2').hide();
                            $('#divcomp3').hide();
                            $('#divcomp4').hide();
                            $('#divcomp1taluka').hide();
                            $('#divcomp2taluka').hide();
                            $('#divcomp3taluka').hide();
                              $('#divcomp4taluka').hide();
                        }
                        else if (Comp == "2" && taluka == "0") {

                              $('#comp2 tbody').empty();
                              $.each(result.TargetModel.Comp2TargetList, function (i, item) {
                                    var rows = "<tr>"
                            //+ "<td>" + (i+1) + "</td>"
                            + "<td>" + item.DistrictName + "</td>"
                            + "<td>" + item.NoOfSheep + "</td>"
                                        + "<td>" +   item.PercentageOfSheep  + "%</td>"
                                        + "<td>" + item.PermOrigin + "</td>"

                                        + "<td>" + item.PermGrant + "</td>"

                            + "</tr>";
                                    $('#comp2 tbody').append(rows);
                              });
                            $('#divcomp2').show();
                              $('#divcomp1').hide();
                            $('#divcomp3').hide();
                            $('#divcomp4').hide();
                            $('#divcomp1taluka').hide();
                            $('#divcomp2taluka').hide();
                            $('#divcomp3taluka').hide();
                              $('#divcomp4taluka').hide();

                        }
                        else if (Comp == "3" && taluka == "0") {

                              $('#comp3 tbody').empty();
                              $.each(result.TargetModel.Comp3TargetList, function (i, item) {
                                    var rows = "<tr>"
                            //+ "<td>" + (i+1) + "</td>"
                            + "<td>" + item.DistrictName + "</td>"
                            + "<td>" + item.NoOfSheep + "</td>"
                                        + "<td>" +   item.PercentageOfSheep  + "%</td>"
                                        + "<td>" + item.PermBeneficiary1Origin + "</td>"
                                        + "<td>" + item.PermBeneficiary2Origin + "</td>"
                                        + "<td>" + item.TempBeneficiary1Origin + "</td>"
                                        + "<td>" + item.TempBeneficiary2Origin + "</td>"
                                        + "<td>" + item.PermGrantBeneficiary1 + "</td>"
                                            + "<td>" + item.PermGrantBeneficiary2 + "</td>"
                                        + "<td>" + item.TempGrantBeneficiary1 + "</td>"
                                        + "<td>" + item.TempGrantBeneficiary2 + "</td>"

                            + "</tr>";
                                    $('#comp3 tbody').append(rows);
                              });
                             $('#divcomp3').show();
                              $('#divcomp2').hide();
                              $('#divcomp1').hide();
                            $('#divcomp4').hide();
                            $('#divcomp1taluka').hide();
                            $('#divcomp2taluka').hide();
                            $('#divcomp3taluka').hide();
                              $('#divcomp4taluka').hide();
                        }
                       else  if (Comp == "4" && taluka == "0") {

                              $('#comp4 tbody').empty();
                              $.each(result.TargetModel.Comp4TargetList, function (i, item) {
                                    var rows = "<tr>"
                            //+ "<td>" + (i+1) + "</td>"
                            + "<td>" + item.DistrictName + "</td>"
                            + "<td>" + item.NoOfSheep + "</td>"
                                        + "<td>" +   item.PercentageOfSheep  + "%</td>"
                                        + "<td>" + item.PermOrigin + "</td>"
                                        + "<td>" + item.TempOrigin + "</td>"
                                        + "<td>" + item.PermGrant + "</td>"
                                          + "<td>" + item.TempGrant + "</td>"
                            + "</tr>";
                                    $('#comp4 tbody').append(rows);
                              });
                             $('#divcomp4').show();
                              $('#divcomp2').hide();
                              $('#divcomp1').hide();
                            $('#divcomp3').hide();
                            $('#divcomp1taluka').hide();
                            $('#divcomp2taluka').hide();
                            $('#divcomp3taluka').hide();
                              $('#divcomp4taluka').hide();
                        }
                           else  if (Comp == "1" && taluka != "0") {

                              $('#comptaluka1 tbody').empty();
                              $.each(result.TargetModel.Comp1TalukaList, function (i, item) {
                                    var rows = "<tr>"
                            //+ "<td>" + (i+1) + "</td>"

                                        + "<td>" + item.DistrictName + "</td>"
                                           + "<td>" + item.TalukaName + "</td>"
                            + "<td>" + item.NoOfSheep + "</td>"
                                        + "<td>" +   item.PercentageOfSheep  + "%</td>"
                                        + "<td>" + item.PermOrigin + "</td>"
                                        + "<td>" + item.TempOrigin + "</td>"
                                        + "<td>" + item.PermGrant + "</td>"
                                          + "<td>" + item.TempGrant + "</td>"
                            + "</tr>";
                                    $('#comptaluka1 tbody').append(rows);
                              });
                             $('#divcomp1taluka').show();
                              $('#divcomp2').hide();
                              $('#divcomp1').hide();
                            $('#divcomp3').hide();
                            $('#divcomp4').hide();
                            $('#divcomp2taluka').hide();
                            $('#divcomp3taluka').hide();
                              $('#divcomp4taluka').hide();
                        }
                           else  if (Comp == "2" && taluka != "0") {

                              $('#comptaluka2 tbody').empty();
                              $.each(result.TargetModel.Comp2TalukaList, function (i, item) {
                                    var rows = "<tr>"

                                        + "<td>" + item.DistrictName + "</td>"
                                           + "<td>" + item.TalukaName + "</td>"
                            + "<td>" + item.NoOfSheep + "</td>"
                                        + "<td>" +   item.PercentageOfSheep  + "%</td>"
                                        + "<td>" + item.PermOrigin + "</td>"

                                        + "<td>" + item.PermGrant + "</td>"

                            + "</tr>";
                                    $('#comptaluka2 tbody').append(rows);
                              });

                              $('#divcomp2').hide();
                              $('#divcomp1').hide();
                            $('#divcomp3').hide();
                            $('#divcomp4').hide();
                            $('#divcomp1taluka').hide();
                            $('#divcomp2taluka').show();
                            $('#divcomp3taluka').hide();
                              $('#divcomp4taluka').hide();
                        }
                           else  if (Comp == "3" && taluka != "0") {

                              $('#comptaluka3 tbody').empty();
                              $.each(result.TargetModel.Comp3TalukaList, function (i, item) {
                                    var rows = "<tr>"
                            //+ "<td>" + (i+1) + "</td>"
                                        + "<td>" + item.DistrictName + "</td>"
                                            + "<td>" + item.TalukaName + "</td>"
                            + "<td>" + item.NoOfSheep + "</td>"
                                        + "<td>" +   item.PercentageOfSheep  + "%</td>"
                                                 + "<td>" +   item.PercentageOfSheep  + "%</td>"
                                        + "<td>" + item.PermBeneficiary1Origin + "</td>"
                                        + "<td>" + item.PermBeneficiary2Origin + "</td>"
                                        + "<td>" + item.TempBeneficiary1Origin + "</td>"
                                        + "<td>" + item.TempBeneficiary2Origin + "</td>"
                                        + "<td>" + item.PermGrantBeneficiary1 + "</td>"
                                            + "<td>" + item.PermGrantBeneficiary2 + "</td>"
                                        + "<td>" + item.TempGrantBeneficiary1 + "</td>"
                                        + "<td>" + item.TempGrantBeneficiary2 + "</td>"
                            + "</tr>";
                                    $('#comptaluka3 tbody').append(rows);
                              });
                             $('#divcomp3taluka').show();
                              $('#divcomp2').hide();
                              $('#divcomp1').hide();
                            $('#divcomp3').hide();
                            $('#divcomp4').hide();
                            $('#divcomp1taluka').hide();
                            $('#divcomp2taluka').hide();
                              $('#divcomp4taluka').hide();
                        }
                           else  if (Comp == "4" && taluka != "0") {

                              $('#comptaluka4 tbody').empty();
                              $.each(result.TargetModel.Comp4TalukaList, function (i, item) {
                                    var rows = "<tr>"
                            //+ "<td>" + (i+1) + "</td>"
                                        + "<td>" + item.DistrictName + "</td>"
                                                                                    + "<td>" + item.TalukaName + "</td>"
                            + "<td>" + item.NoOfSheep + "</td>"
                                        + "<td>" +   item.PercentageOfSheep  + "%</td>"
                                        + "<td>" + item.PermOrigin + "</td>"
                                        + "<td>" + item.TempOrigin + "</td>"
                                        + "<td>" + item.PermGrant + "</td>"
                                          + "<td>" + item.TempGrant + "</td>"
                            + "</tr>";
                                    $('#comptaluka4 tbody').append(rows);
                              });
                            $('#divcomp4taluka').show();
                              $('#divcomp2').hide();
                              $('#divcomp1').hide();
                            $('#divcomp3').hide();
                            $('#divcomp4').hide();
                            $('#divcomp1taluka').hide();
                            $('#divcomp2taluka').hide();
                            $('#divcomp3taluka').hide();

                        }

                     },
                    error: function(ex) {
                alert('Failed.' + ex);
            }
        });
        return false;
});
</script>
