
@{
    ViewBag.Title = @Resource.Lang.Ambajogai;
}
<link href="https://www.fontify.me/wf/0a4187cf5cac7159d8ecc01856393155" rel="stylesheet" type="text/css">

<style>
    .div-header {
        text-align: center;
        font-size: 32px;
        color: #fff;
        font-weight: 600;
        /*height:40px;*/
        background: #65bff3;
        margin-bottom: 5px;
        font-variant-caps: all-petite-caps;
    }

    .mrFont {
        font-family: font88978;
      
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th
    {
        font-size:15px;
    }
</style>
<div class="container  body-content" id="#maincontent" style="margin-bottom:10%">
    <div class="div-header">@Resource.Lang.Ambajogai</div>
    <section class="mrFont">
        <div class="panel panel-info">
            <div class="heading text-center"><h4>@Resource.Lang.FarmInformation</h4></div>
            <div class="panel-body">
                <table class="table table-bordered table-responsive table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">@Resource.Lang.Description</th>
                            <th class="text-center">@Resource.Lang.Details</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>@Resource.Lang.NameofFarm</td>
                            <td>@Resource.Lang.AmbajogaiFarmName</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.FarmAddress</td>
                            <td>@Resource.Lang.AmbajogaiAddress</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.PhoneNumber</td>
                            <td>@Resource.Lang.AmbajogaiPhoneNumber</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.EmailID</td>
                            <td>sgf.ambejogai@gmail.com</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.NameofFarmManager</td>
                            <td>@Resource.Lang.AmbajogaiFarmManagerName</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.MobileNumber</td>
                            <td>@Resource.Lang.AmbajogaiMobileNumber</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.TotalLand</td>
                            <td>@Resource.Lang.AmbajogaiTotalLand</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.IrrigationLand</td>
                            <td>@Resource.Lang.AmbajogaiIrrigationLand</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.NonIrrigationLand</td>
                            <td>@Resource.Lang.AmbajogaiNonIrrigationLand</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.LandUnderBuilding</td>
                            <td>@Resource.Lang.AmbajogaiLandUnderBuilding</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.AreaunderGrazing</td>
                            <td>@Resource.Lang.AmbajogaiAreaUndeGrazing</td>
                        </tr>

                    </tbody>
                </table>
                <hr />
                <div class="heading">
                    <h4 class="text-center">@Resource.Lang.LiveStockDetails</h4>
                </div>
                <table class="table table-bordered table-responsive table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th class="text-center">@Resource.Lang.Breed</th>
                            <th class="text-center">@Resource.Lang.Male</th>
                            <th class="text-center">@Resource.Lang.Female</th>
                            <th class="text-center">@Resource.Lang.MaleKids</th>
                            <th class="text-center">@Resource.Lang.FemaleKids</th>
                            <th class="text-center">@Resource.Lang.Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Resource.Lang.OsmanabadiGoat</td>
                            <td>@Resource.Lang.AmbajogaiMaleSheep</td>
                            <td>@Resource.Lang.AmbajogaiFemaleSheep</td>
                            <td>@Resource.Lang.AmbajogaiMaleKids</td>
                            <td>@Resource.Lang.AmbajogaiFemaleKids</td>
                            <td>@Resource.Lang.AmbajogaiTotal</td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <div class="heading">
                    <h4 class="text-center">@Resource.Lang.FacilitiesAvailable</h4>
                </div>
                <table class="table table-bordered table-responsive table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th class="text-center">@Resource.Lang.Facility</th>
                            <th class="text-center">@Resource.Lang.Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Resource.Lang.SupplyofBucks</td>
                            <td class="text-left">@Resource.Lang.AmbajogaiSupplyDetail</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.SheepGoatFarmingTraining</td>
                            <td class="text-left">
                                @Resource.Lang.AmbajogaiTraining
                            </td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.PurchaseofWool</td>
                            <td class="text-left">@Resource.Lang.AmbajogaiPurchase</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.ProductionSupply</td>
                            <td class="text-left">@Resource.Lang.AmbajogaiProduction</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.ExtensionActivity</td>
                            <td class="text-left">@Resource.Lang.AmbajogaiExtensionActivity</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.SheepGoatUnitDistribution</td>
                            <td class="text-left">@Resource.Lang.AmbajogaiDistribution</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.DemonstrationProduction</td>
                            <td class="text-left">@Resource.Lang.AmbajogaiAzola</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
