@{
    ViewBag.Title = "Home Page";
}
<style>
    .vertical-nav {
        height: auto;
        list-style: none;
        width: 100%; /******* MODIFIED ********/
        /*margin: 20px 0 0 0;*/
    }

        .vertical-nav li {
            height: 30px;
            background-color: #52b2fa;
            border: 1px solid #fff;
            text-align: center;
            display: inline-block;
            float: left;
            padding-top: 5px;
            clear: both;
            min-width: 282px; /******* MODIFIED ********/
        }

            .vertical-nav li:hover {
                background-color: #97d2fe;
                color: #FFFFFF;
            }

            .vertical-nav li a {
                font-size: 14px;
                color: #ffffff;
            }

            .vertical-nav li.current {
                background-color: #97d2fe;
            }

                .vertical-nav li.current a {
                    color: #FFFFFF;
                }

    vertical-nav ul li ul {
        display: none;
        list-style-type: none;
        min-width: 250px;
        padding: 0px;
        margin-top: 3px;
        margin-left: 0px;
    }

    vertical-nav ul li:hover ul {
        display: block;
    }

        vertical-nav ul li:hover ul li {
            background-color: #74a9ea;
            min-width: 250px;
            min-height: 30px;
            display: inline-block;
        }

    vertical-nav ul li ul li:hover {
        background-color: #333333;
    }

    vertical-nav ul li ul li a {
        color: #FFF;
        text-decoration: underline;
    }

        vertical-nav ul li ul li a:hover {
            text-decoration: none;
        }

    .vertical-nav li ul {
        display: none;
        margin-top: 10px;
        padding: 0;
    }

    .vertical-nav li:hover ul {
        display: block;
    }

    .vertical-nav li:hover .sub-menu {
        position: relative;
        margin-top: -27.5px;
    }

    .sub-menu li {
        position: relative;
        display: block;
        top: 0;
        left: 100%;
        width: 100%;
        /*min-width: 180px;
        white-space: nowrap;*/
        z-index: 1;
    }

        .sub-menu li a {
            display: inline-block;
            padding: 0 10px;
        }

    .carousel {
        padding: -1px 380px;
    }

    .carousel__button--prev, .carousel__button--next {
        position: absolute;
        top: 62px;
        /*bottom: 0;*/
    }

    .carousel__button--prev {
        left: 2%;
    }

    .carousel__button--next {
        right: 2%;
    }

    .carousel__container {
        overflow: hidden;
        height: 150px;
    }

    .carousel__list {
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

        .carousel__list.unwrap {
            flex-wrap: nowrap;
        }

    .carousel__item {
        flex: 1 0 250px;
        /* 	max-width: 300px; */
        height: 200px;
        background-color: transparent;
        text-align: center;
        line-height: 100px;
        /*border: 1px solid #fff;*/
    }

    .img-border {
        border: 1px solid black;
    }
</style>

<div class="container  body-content" id="#maincontent">
    <section>
        <div class="row col-lg-12">
            <div class="col-lg-3 col-md-3">
                <img src="~/Images/default-image.png" class="img-responsive img-border" />
            </div>
            <div class="col-lg-6 col-md-6" style="text-align:center">
                <video id='video' controls="controls" preload='none' class="embed-responsive-item" style="max-width:550px;max-height:260px"
                       poster="http://media.w3.org/2010/05/sintel/poster.png">
                    <source id='mp4' src="http://media.w3.org/2010/05/sintel/trailer.mp4" type='video/mp4' />
                    @*<source id='webm' src="http://media.w3.org/2010/05/sintel/trailer.webm" type='video/webm' />
                        <source id='ogv' src="http://media.w3.org/2010/05/sintel/trailer.ogv" type='video/ogg' />*@
                </video>
            </div>
            <div class="col-lg-3 col-md-3">
                <img src="~/Images/default-image.png" class="img-responsive img-border" />
            </div>
        </div>
    </section>
    <section>
        <div class="row col-lg-12 col-md-12">

            <div class="col-lg-3 col-md-3">
                @*<nav id="menu">*@
                <ul class="vertical-nav">
                    @*<li>
                        <a href="">RTI</a>
                        <ul class="sub-menu">
                            <li><a href="">Status</a></li>
                            <li><a href="">Disposal</a></li>
                            <li><a href="">Figures and Statistics</a></li>
                            <li><a href="">Proactive Disclosure</a></li>
                            <li><a href="">Details of SPIO</a></li>
                            <li><a href="">Online RTI Application</a></li>
                            <li><a href="">Online Status of Petition</a></li>
                            <li><a href="">Promotion Status</a></li>
                        </ul>
                    </li>*@
                    @*<li><a href="">Download Forms</a></li>*@
                    <li><a href="@Url.Action("ProductsAtFarm", "Menu")">Products at Farm</a></li>
                    <li><a href="@Url.Action("ProductsWool", "Menu")">Products - Wool</a></li>
                    <li><a href="@Url.Action("DeptGuidelines", "Menu")">Department Guidelines</a></li>
                    <li><a href="@Url.Action("BeneficiaryList", "Menu")">Beneficiary List</a></li>
                    <li><a href="@Url.Action("ProjectStatus", "Menu")">Project Status</a></li>
                    <li><a href="@Url.Action("ProductsAtFarm", "Menu")">Press Information</a></li>
                    <li>
                        <a href="@Url.Action("OfficeDocuments", "Menu")">Office Documents</a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("OfficeDocuments", "Menu")">Acts</a></li>
                            <li><a href="@Url.Action("OfficeDocuments", "Menu")">Circulars</a></li>
                            <li><a href="@Url.Action("OfficeDocuments", "Menu")">Rules & Regulations</a></li>
                            <li><a href="@Url.Action("OfficeDocuments", "Menu")">White Papers - case studies</a></li>
                            <li><a href="@Url.Action("OfficeDocuments", "Menu")">Budget</a></li>
                            <li><a href="@Url.Action("OfficeDocuments", "Menu")">Minutes of Meeting</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("AuditedReports", "Menu")">Audited Reports</a></li>
                    <li>
                        <a href="@Url.Action("FarmersInformation", "Menu")">Information for Farmers</a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("OfficersList", "Menu")">List of Officers</a></li>
                            <li><a href="@Url.Action("InseminationInformation", "Menu")">Information Regarding Insemination</a></li>
                            <li><a href="@Url.Action("HospitalInformation", "Menu")">Information reg Hospitals  - Vets -Dispensary</a></li>
                            <li><a href="@Url.Action("OfficeDocuments", "Menu")">List of Available Breeds</a></li>
                            <li><a href="@Url.Action("VaccinationList", "Menu")">List of Vaccinations - Diseases - RTemedies</a></li>
                            <li><a href="@Url.Action("FeedingInformation", "Menu")">Information Regarding Feeding</a></li>
                            <li><a href="@Url.Action("BreedingInformation", "Menu")">Information Regarding breeding</a></li>
                            <li><a href="@Url.Action("OngoingSchemes", "Menu")">Ongoing Schemes</a></li>
                            <li><a href="@Url.Action("AnimalTradingPolicy", "Menu")">Animal Trading Policy</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("ModelScheme", "Menu")">Model Scheme</a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("StockAvailability", "Menu")">Availability of Stock  - Semen - Products</a></li>
                            <li><a href="@Url.Action("FeedandFodder", "Menu")"> Feed and Fodder</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("SuccessStories", "Menu")">Success Stories</a></li>
                    <li><a href="@Url.Action("FarmersList", "Menu")">List of Progressive Farmers</a></li>
                    <li><a href="@Url.Action("LivestockInsurance", "Menu")">Livestock Insurance</a></li>
                    <li><a href="@Url.Action("Precautions", "Menu")">Precaution during Natural Calamity</a></li>

                </ul>



            </div>
            <div class="col-lg-6 col-md-6">
                <section id="mu-slider">
                    <!-- Start single slider item -->
                    <div class="mu-slider-single">
                        <div class="mu-slider-img">
                            <figure>
                                <img src="~/Images/slider1.jpg" alt="img" class="img-responsive">
                            </figure>
                        </div>

                    </div>
                    <!-- Start single slider item -->
                    <!-- Start single slider item -->
                    <div class="mu-slider-single">
                        <div class="mu-slider-img">
                            <figure>
                                <img src="~/Images/slider2.jpg" alt="img" class="img-responsive">
                            </figure>
                        </div>

                    </div>
                    <!-- Start single slider item -->
                    <!-- Start single slider item -->
                    <div class="mu-slider-single">
                        <div class="mu-slider-img">
                            <figure>
                                <img src="~/Images/slider1.jpg" alt="img" class="img-responsive">
                            </figure>
                        </div>

                    </div>
                    <!-- Start single slider item -->
                    <!-- End Slider -->

                </section>

            </div>
            <div class="col-lg-3 col-md-3">
                <div class="panel panel-default" style="font-size:13px;margin-bottom: 15px!important">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-list-alt"></span><b>News</b>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="news-demo-down-auto">
                                    <li class="news-item">Lorem ipsum dolor sit amet,  elit..<a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet,  elit....  <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet, elit.. <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet,  elit ... <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet, elit ... <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet,  elit... <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet,  elit ... <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet, elit ... <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet,  elit... <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet,  elit ... <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet, elit ... <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet,  elit... <a href="#">Read more...</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    @*<div class="panel-footer" style="height:45px">

                        </div>*@
                </div>

                <div class="panel panel-default" style="font-size:13px">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-list-alt"></span><b>Tenders</b>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="tender-demo-down-auto">
                                    <li class="news-item">Lorem ipsum dolor sit amet,  elit..<a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet,  elit.... <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet, elit.. <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet,  elit ... <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet, elit ... <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet,  elit... <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet,  elit ... <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet, elit ... <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet,  elit... <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet,  elit ... <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet, elit ... <a href="#">Read more...</a></li>
                                    <li class="news-item">Lorem ipsum dolor sit amet,  elit... <a href="#">Read more...</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    @*<div class="panel-footer" style="height:45px">

                        </div>*@
                </div>
            </div>

        </div>
    </section>

</div>
<section id="mu-service">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="mu-service-area">
                    <!-- Start single service -->
                    <div class="mu-service-single">
                        <span class="fa fa-list-alt"></span>
                        <h4>Mahamesh Yojana</h4>
                    </div>
                    <div class="mu-service-single">
                        <span class="fa fa-list-alt"></span>
                        <h4>Bakri Id</h4>
                    </div>
                    <!-- Start single service -->
                    <!-- Start single service -->
                    <div class="mu-service-single">
                        <span class="fa fa-list-alt"></span>
                        <h4>Ram Distribution</h4>
                    </div>
                    <!-- Start single service -->
                    <!-- Start single service -->
                    <div class="mu-service-single">
                        <span class="fa fa-list-alt"></span>
                        <h4>Woolen Products</h4>
                    </div>
                    <!-- Start single service -->
                </div>
            </div>
        </div>
    </div>
</section>
<section id="mu-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="mu-features-area">
                    <!-- Start Title -->
                    <div class="mu-title">
                        <h3 style="margin-bottom:20px">Our Farms</h3>
                    </div>
                    <!-- End Title -->
                    <!-- Start features content -->
                    <div class="mu-features-content">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-4">
                                <div class="mu-single-feature">
                                    <span class="fa fa-users"></span>
                                    <h4><a href="@Url.Action("Ambajogai", "Home")">Ambajogai</a></h4>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4">
                                <div class="mu-single-feature">
                                    <span class="fa fa-users"></span>
                                    <h4><a href="@Url.Action("Bilakhed", "Home")">Bilakhed</a></h4>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4">
                                <div class="mu-single-feature">
                                    <span class="fa fa-users"></span>
                                    <h4><a href="@Url.Action("Bondri", "Home")">Bondri</a></h4>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4">
                                <div class="mu-single-feature">
                                    <span class="fa fa-users"></span>
                                    <h4><a href="@Url.Action("Dahiwadi", "Home")">Dahiwadi</a></h4>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4">
                                <div class="mu-single-feature">
                                    <span class="fa fa-users"></span>
                                    <h4><a href="@Url.Action("Mahud", "Home")">Mahud</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @*<div class="col-lg-2 col-md-2 col-sm-4">
                                    <div class="mu-single-feature">
                                        @*<span class="fa fa-users"></span>
                                            <h4><a href="@Url.Action("Padegaon", "Home")">Padegaon</a></h4>
                                    </div>
                                </div>*@
                            <div class="col-lg-2 col-md-2 col-sm-4">
                                <div class="mu-single-feature">
                                    <span class="fa fa-users"></span>
                                    <h4><a href="@Url.Action("Mukhed", "Home")">Mukhed</a></h4>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4">
                                <div class="mu-single-feature">
                                    <span class="fa fa-users"></span>
                                    <h4><a href="@Url.Action("Padegaon", "Home")">Padegaon</a></h4>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4">
                                <div class="mu-single-feature">
                                    <span class="fa fa-users"></span>
                                    <h4><a href="@Url.Action("Pohara", "Home")">Pohara</a></h4>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-4">
                                <div class="mu-single-feature">
                                    <span class="fa fa-users"></span>
                                    <h4><a href="@Url.Action("Ranjani", "Home")">Ranjani</a></h4>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-4">
                                <div class="mu-single-feature">
                                    <span class="fa fa-users"></span>
                                    <h4><a href="@Url.Action("Tirth", "Home")">Tirth</a></h4>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End features content -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- start footer top -->
@*<div style="background:#4b8cbb">
        <div class="container">
            <div class="mu-footer-top-area">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="mu-footer-widget">
                            <h3 style="color:#ffffff">Related Links</h3>
                            <ul>
                                <li><a href="#" style="font-size:16px !important;color:#e9eff3 !important;line-height:30px;">Other DST Sites</a></li>
                                <li><a href="#" style="font-size:16px !important;color:#e9eff3 !important;line-height:30px;">Other Dept Funding Schemes</a></li>
                                <li><a href="#" style="font-size:16px !important;color:#e9eff3 !important;line-height:30px;">Professional Bodies</a></li>
                                <li><a href="#" style="font-size:16px !important;color:#e9eff3 !important;line-height:30px;">Science Wings Abroad</a></li>
                                <li><a href="#" style="font-size:16px !important;color:#e9eff3 !important;line-height:30px;">Statutory Board</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="mu-footer-widget">
                            <h3 style="color:#ffffff">Miscellaneous</h3>
                            <ul>
                                <li><a href="#" style="font-size:16px !important;color:#e9eff3 !important;line-height:30px;">Tenders</a></li>
                                <li><a href="#" style="font-size:16px !important;color:#e9eff3 !important;line-height:30px;">Pension Grievance Redressal</a></li>
                                <li><a href="#" style="font-size:16px !important;color:#e9eff3 !important;line-height:30px;">Public Grievances</a></li>
                                <li><a href="#" style="font-size:16px !important;color:#e9eff3 !important;line-height:30px;">Parliament Q & A</a></li>
                                <li><a href="#" style="font-size:16px !important;color:#e9eff3 !important;line-height:30px;">Right To Information</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>*@
<!-- Start carousel  -->
<section id="mu-menu" style="background:url(/Images/carousel-bg.png) repeat;margin-left:0px !important;margin-right: 0px !important;">
    <div class="carousel js-carousel">
        <div class="carousel__container js-carousel-container">
            <div class="carousel__list js-carousel-list">
                <div class="carousel__item js-carousel-item"><img src="~/Images/digital-india.png" /></div>
                <div class="carousel__item js-carousel-item"><img src="~/Images/e-gazette.png" /></div>
                <div class="carousel__item js-carousel-item"><img src="~/Images/goidirectory.png" /></div>
                <div class="carousel__item js-carousel-item"><img src="~/Images/iig-logo_1.png" /></div>
                <div class="carousel__item js-carousel-item"><img src="~/Images/india-gov.png" /></div>
                <div class="carousel__item js-carousel-item"><img src="~/Images/logo_swach.jpg" /></div>
                <div class="carousel__item js-carousel-item"><img src="~/Images/makeinindia.png" /></div>
                <div class="carousel__item js-carousel-item"><img src="~/Images/mygov.png" /></div>
                <div class="carousel__item js-carousel-item"><img src="~/Images/myvisit-logo.png" /></div>
                <div class="carousel__item js-carousel-item"><img src="~/Images/pg-portal.png" /></div>
            </div>
        </div>
        <div class="carousel__nav">
            <button class="carousel__button--prev js-carousel-button btn-link" data-dir="prev">&lt;</button>
            <button class="carousel__button--next js-carousel-button btn-link" data-dir="next">&gt;</button>
        </div>
    </div>
</section>
<!-- End carousel  -->
