
@{
    ViewBag.Title = "Mukhed";
}

<style>
    .div-header {
        text-align: center;
        font-size: 32px;
        color: #fff;
        font-weight: 700;
        /*height:40px;*/
        background: #65bff3;
        font-variant-caps: all-petite-caps;
    }
</style>
<div class="container  body-content" id="#maincontent" style="margin-bottom:10%">
    <div class="div-header">@Resource.Lang.Mukhed</div>
    <section>
        <div class="panel panel-info">
            <div class="heading text-center"><h4>@Resource.Lang.FarmInformation</h4></div>

            <div class="panel-body">
                <table class="table table-bordered table-responsive table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">@Resource.Lang.Description</th>
                            <th class="text-center">@Resource.Lang.Details</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>@Resource.Lang.NameofFarm</td>
                            <td>@Resource.Lang.MukhedNameofFarm</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.FarmAddress</td>
                            <td>@Resource.Lang.MukhedFarmAddress</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.PhoneNumber</td>
                            <td>---</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.EmailID</td>
                            <td>
                                sgf.mukhed@gmail.com
                            </td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.NameofFarmManager</td>
                            <td>@Resource.Lang.MukhedNameofFarmManager</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.MobileNumber</td>
                            <td>@Resource.Lang.MukhedTotalLand</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.TotalLand</td>
                            <td>@Resource.Lang.MukhedTotalLand</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.IrrigationLand</td>
                            <td>@Resource.Lang.MukhedIrrigationLand</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.NonIrrigationLand</td>
                            <td>@Resource.Lang.MukhedNonIrrigationLand</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.LandUnderBuilding</td>
                            <td>@Resource.Lang.MukhedLandUnderBuilding</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.AreaunderGrazing</td>
                            <td>@Resource.Lang.MukhedAreaunderGrazingPasture</td>
                        </tr>

                    </tbody>
                </table>
                <hr />
                <div class="heading">
                    <h4 class="text-center">@Resource.Lang.LiveStockDetails</h4>
                </div>
                <table class="table table-bordered table-responsive table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th class="text-center">@Resource.Lang.Breed</th>
                            <th class="text-center">@Resource.Lang.Male</th>
                            <th class="text-center">@Resource.Lang.Female</th>
                            <th class="text-center">@Resource.Lang.MaleKids</th>
                            <th class="text-center">@Resource.Lang.FemaleKids</th>
                            <th class="text-center">@Resource.Lang.Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Deccani Sheep</td>
                            <td>16</td>
                            <td>179</td>
                            <td>24</td>
                            <td>22</td>
                            <td>241</td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <div class="heading">
                    <h4 class="text-center">@Resource.Lang.FacilitiesAvailable</h4>
                </div>
                <table class="table table-bordered table-responsive table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th class="text-center">@Resource.Lang.Facility</th>
                            <th class="text-center">@Resource.Lang.Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Resource.Lang.SupplyofRams</td>
                            <td class="text-left">@Resource.Lang.MukhedSupply</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.SheepGoatFarmingTraining</td>
                            <td class="text-left">
                                @Resource.Lang.BilakhedTraining
                            </td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.PurchaseofWool</td>
                            <td class="text-left">@Resource.Lang.BondriPurchaseofWool</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.ProductionSupply</td>
                            <td class="text-left">@Resource.Lang.BondriPurchaseofWool</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.ExtensionActivity</td>
                            <td class="text-left">@Resource.Lang.AmbajogaiExtensionActivity</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.SheepGoatUnitDistribution</td>
                            <td class="text-left">@Resource.Lang.AmbajogaiDistribution</td>
                        </tr>
                        <tr>
                            <td>@Resource.Lang.DemonstrationProduction</td>
                            <td class="text-left">@Resource.Lang.BondriDemonstrationandproductionofAzola</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

