
@{
    ViewBag.Title = "Ranjini";
}

<style>
    .div-header {
        text-align: center;
        font-size: 32px;
        color: #fff;
        font-weight: 700;
        /*height:40px;*/
        background: #65bff3;
        font-variant-caps: all-petite-caps;
    }
</style>
<div class="container  body-content" id="#maincontent" style="margin-bottom:10%">
    <div class="div-header">@Mahamesh.App_LocalResources.Lang.Ranjani</div>
    <section>
        <div class="panel panel-info">
            <div class="heading text-center"><h4>@Mahamesh.App_LocalResources.Lang.FarmInformation</h4></div>

            <div class="panel-body">
                <table class="table table-bordered table-responsive table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">@Mahamesh.App_LocalResources.Lang.Description</th>
                            <th class="text-center">@Mahamesh.App_LocalResources.Lang.Details</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.NameofFarm</td>
                            <td>@Mahamesh.App_LocalResources.Lang.RanjaniNameofFarm</td>
                        </tr>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.FarmAddress</td>
                            <td>@Mahamesh.App_LocalResources.Lang.RanjaniFarmAddress</td>
                        </tr>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.PhoneNumber</td>
                            <td>@Mahamesh.App_LocalResources.Lang.RanjaniPhoneNumber</td>
                        </tr>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.EmailID</td>
                            <td>
                                sgf.ranjani@gmail.com
                            </td>
                        </tr>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.NameofFarmManager</td>
                            <td>@Mahamesh.App_LocalResources.Lang.RanjaniNameofFarmManager</td>
                        </tr>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.MobileNumber</td>
                            <td>@Mahamesh.App_LocalResources.Lang.RanjaniTotalLand</td>
                        </tr>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.TotalLand</td>
                            <td>@Mahamesh.App_LocalResources.Lang.RanjaniTotalLand</td>
                        </tr>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.IrrigationLand</td>
                            <td>@Mahamesh.App_LocalResources.Lang.RanjaniIrrigationLand</td>
                        </tr>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.NonIrrigationLand</td>
                            <td>@Mahamesh.App_LocalResources.Lang.RanjaniNonIrrigationLand</td>
                        </tr>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.LandUnderBuilding</td>
                            <td>@Mahamesh.App_LocalResources.Lang.RanjaniLandUnderBuilding</td>
                        </tr>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.AreaunderGrazing</td>
                            <td>@Mahamesh.App_LocalResources.Lang.RanjaniAreaunderGrazingPasture</td>
                        </tr>

                    </tbody>
                </table>
                <hr />
                <div class="heading">
                    <h4 class="text-center">@Mahamesh.App_LocalResources.Lang.LiveStockDetails</h4>
                </div>
                <table class="table table-bordered table-responsive table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th class="text-center">@Mahamesh.App_LocalResources.Lang.Breed</th>
                            <th class="text-center">@Mahamesh.App_LocalResources.Lang.Male</th>
                            <th class="text-center">@Mahamesh.App_LocalResources.Lang.Female</th>
                            <th class="text-center">@Mahamesh.App_LocalResources.Lang.MaleKids</th>
                            <th class="text-center">@Mahamesh.App_LocalResources.Lang.FemaleKids</th>
                            <th class="text-center">@Mahamesh.App_LocalResources.Lang.Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.OsmanabadiGoat</td>
                            <td>17</td>
                            <td>546</td>
                            <td>115</td>
                            <td>197</td>
                            <td>875</td>
                        </tr>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.MadgyalSheep</td>
                            <td>11</td>
                            <td>247</td>
                            <td>58</td>
                            <td>84</td>
                            <td>400</td>
                        </tr>
                    </tbody>
                </table>
                <hr />
                <div class="heading">
                    <h4 class="text-center">@Mahamesh.App_LocalResources.Lang.FacilitiesAvailable</h4>
                </div>
                <table class="table table-bordered table-responsive table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th class="text-center">@Mahamesh.App_LocalResources.Lang.Facility</th>
                            <th class="text-center">@Mahamesh.App_LocalResources.Lang.Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.SupplyofBucksGoats</td>
                            <td class="text-left">@Mahamesh.App_LocalResources.Lang.RanjiniSupplyDetail</td>
                        </tr>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.SheepGoatFarmingTraining</td>
                            <td class="text-left">
                                @Mahamesh.App_LocalResources.Lang.BilakhedTraining
                            </td>
                        </tr>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.MachineShearing</td>
                            <td class="text-left">@Mahamesh.App_LocalResources.Lang.BilakhedMachineShearingProgram </td>
                        </tr>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.PurchaseofWool</td>
                            <td class="text-left">@Mahamesh.App_LocalResources.Lang.AmbajogaiPurchase</td>
                        </tr>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.ProductionSupply</td>
                            <td class="text-left">@Mahamesh.App_LocalResources.Lang.AmbajogaiProduction</td>
                        </tr>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.ExtensionActivity</td>
                            <td class="text-left">@Mahamesh.App_LocalResources.Lang.AmbajogaiExtensionActivity</td>
                        </tr>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.SheepGoatUnitDistribution</td>
                            <td class="text-left">@Mahamesh.App_LocalResources.Lang.AmbajogaiDistribution</td>
                        </tr>
                        <tr>
                            <td>@Mahamesh.App_LocalResources.Lang.DemonstrationProduction</td>
                            <td class="text-left">@Mahamesh.App_LocalResources.Lang.AmbajogaiAzola</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

