
@{
    ViewBag.Title = "Sheep & Goat Training";
}

<style>
    .div-header {
        text-align: center;
        font-size: 32px;
        color: #fff;
        font-weight: 600;
        /*height:40px;*/
        background: #65bff3;
        margin-bottom: 5px;
        font-variant-caps: all-petite-caps;
    }
</style>
<div class="container  body-content" id="#maincontent" style="margin-bottom:10%">
    <div class="div-header">Sheep & Goat Training</div>
    <section>
        <div class="panel panel-info">
            @*<div class="heading text-center"><h4>Farm Information</h4></div>*@
            <div class="panel-body">
                <p style="text-align:justify">"@Mahamesh.App_LocalResources.Lang.SheepTraining1"</p>
                <p style="text-align:justify">"@Mahamesh.App_LocalResources.Lang.SheepTraining2"</p>  
                <p style="text-align:justify">"@Mahamesh.App_LocalResources.Lang.SheepTraining3"</p>  
                <p style="text-align:justify">"@Mahamesh.App_LocalResources.Lang.SheepTraining4"</p>
                <p style="text-align:justify">"@Mahamesh.App_LocalResources.Lang.SheepTraining5"</p>
            </div>
        </div>
    </section>
</div>
