@model Mahamesh.Models.NewsModel

@{
    ViewBag.Title = "Edit";
}

<div class="container body-content" id="#maincontent" style="margin-top:70px; margin-bottom: 150px;">
    <div class="panel panel-primary" style="box-shadow: 0 2px 2px rgba(0,0,0,.3);">
        <div class="panel-heading panel-primary" style="background:#52b2fa;border-color:transparent;text-align:center;font-weight:800">
            <h3 class="panel-title">Edit News</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <div class="col-md-2"></div>
                        @Html.LabelFor(model => model.NewsTitle, htmlAttributes: new { @class = "col-md-2" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.NewsTitle, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NewsTitle, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group" style="padding-bottom:50px">
                        <div class="col-md-2"></div>
                        @Html.LabelFor(model => model.NewsDescription, htmlAttributes: new { @class = "col-md-2" })
                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.NewsDescription, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NewsDescription, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2"></div>
                        @Html.LabelFor(model => model.NewsDate, htmlAttributes: new { @class = "col-md-2" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.NewsDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NewsDate, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-2" style="font-weight:bold">Upload Image</div>
                        <div class="col-md-6">
                            <label class="file">
                                <input type="file" id="file" aria-label="File browser example">
                                <span class="file-custom"></span>
                            </label>
                            @Html.ValidationMessageFor(model => model.ImageLocation, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-6"></div>
                        <div class="col-md-offset-6 col-md-6">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>
</div>